---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"asset_no_transform","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6ada1d8d1a051e6eb435b18db589866b"'
      Location:
      - https://api.contentful.com/spaces/896fh6408nuq
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - ca06fd2b3f91c099c77c6a66b348570f
      X-Iinfo:
      - 10-231205094-231205131 NNNN CT(195 171 0) RT(1469193736727 90) q(0 0 3 -1)
        r(23 23) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"asset_no_transform",
          "sys":{
            "type":"Space",
            "id":"896fh6408nuq",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-07-22T13:22:17Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-07-22T13:22:17Z"
          }
        }

  recorded_at: Fri, 22 Jul 2016 13:22:19 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/896fh6408nuq/environments/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"2c014fd49b265333df19faf15077ad23"
      X-Contentful-Request-Id:
      - 917a37ae1cf5343e6b089923cc306864
      X-Iinfo:
      - 6-53963549-53963569 NNNN CT(141 141 0) RT(1503499169092 147) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":4,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-08-18T20:55:42Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-08-18T20:55:42Z",
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "896fh6408nuq"
              }
            }
          }
        }

  recorded_at: Wed, 23 Aug 2017 14:39:29 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/896fh6408nuq/environments/master/assets/my_asset
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"My Asset"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/svg+xml","fileName":"some_filename.svg","upload":"https://upload.wikimedia.org/wikipedia/commons/3/30/Vector-based_example.svg"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b65dd43b153f1e9230d4d2c4f7e74829"'
      X-Contentful-Request-Id:
      - d960827376fb757d5bf4304b929a1ba4
      X[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/896fh6408nuq/environments/master/assets/my_asset/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 10bb24b1a92aeac30c48bc63733cc5ff
      X-Iinfo:
      - 8-196995211-196995253 NNNN CT(144 145 0) RT(1469193743915 97) q(0 0 3 -1)
        r(26 26) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jul 2016 13:22:27 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/896fh6408nuq/environments/master/assets/my_asset
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"10f0942872246f8ab1ccf33c9f232f93"'
      X-Contentful-Request-Id:
      - a56a95fa8279ab215be42519e16d5b0a
      X-Iinfo:
      - 8-196996441-196996477 NNNN CT(144 143 0) RT(1469193746700 104) q(0 0 2 -1)
        r(5 5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "My Asset"
            },
            "description": {
              "en-US": null
            },
            "file": {
              "en-US": {
                "contentType": "image/svg+xml",
                "fileName": "some_filename.svg",
                "details": {
                  "size": 6518
                },
                "url": "//assets.contentful.com/896fh6408nuq/my_asset/8548dc94529578d75037da3a6f5b0291/some_filename.svg"
              }
            }
          },
          "sys": {
            "id": "my_asset",
            "type": "Asset",
            "createdAt": "2016-07-22T13:22:24.059Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "896fh6408nuq"
              }
            },
            "version": 2,
            "updatedAt": "2016-07-22T13:22:26.987Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Fri, 22 Jul 2016 13:22:27 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/896fh6408nuq/environments/master/assets/my_asset/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    [...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/896fh6408nuq/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v3.2.0''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ffbc5ff86be7a2ed519e63e22d5ef58d"'
      Location:
      - https://api.contentful.com/spaces/896fh6408nuq/api_keys/236wfGh3o47kwhbs4aV8PD
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - c7defdcc63590c06a7ff6e52926cfbaa
      X-Iinfo:
      - 1-104395837-104395856 NNNN CT(162 161 0) RT(1469193748338 102) q(0 0 3 -1)
        r(9 9) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"Bootstrap Token",
          "description":"Created with 'contentful_bootstrap.rb v3.2.0'",
          "accessToken":"1161d609ce0376ba96af689343d462d7c015ccbadf9aa399054ee395433e17b1",
          "policies":[
            {
              "effect":"allow",
              "actions":"all"
            }
          ],
          "sys":{
            "type":"ApiKey",
            "id":"236wfGh3o47kwhbs4aV8PD",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"896fh6408nuq"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-07-22T13:22:29Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-07-22T13:22:29Z"
          },
          "preview_api_key":{
            "sys":{
              "type":"Link",
              "linkType":"PreviewApiKey",
              "id":"237vBsH3ci7ak92brc5Vnb"
            }
          }
        }

  recorded_at: Fri, 22 Jul 2016 13:22:29 GMT
recorded_with: VCR 2.9.3
