---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/f3abi4dqvrhg/environments/master/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.2.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer efab52abe735b200abb0f053ad8a3d0da633487c0c98cf03dc806c2b3bd049a1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"7692fdb6e27d394cdf87930d9d31cca0"'
      X-Contentful-Request-Id:
      - 1f91cda3828a6b9537007cde7a43097d
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "f3abi4dqvrhg"
                  }
                },
                "id": "testContentType",
                "type": "ContentType",
                "createdAt": "2017-11-09T15:17:54.257Z",
                "updatedAt": "2017-11-09T15:17:54.257Z",
                "revision": 1
              },
              "displayField": "title",
              "name": "Test Content Type",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false
                }
              ]
            }
          ]
        }
  recorded_at: Fri, 10 Nov 2017 13:10:35 GMT
- request:
    method: get
    uri: https://preview.contentful.com/spaces/f3abi4dqvrhg/environments/master/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.2.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer 06c28ef41823bb636714dfd812066fa026a49e95041a0e94903d6cf016bba50e
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      co[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/f3abi4dqvrhg/environments/master/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.2.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer efab52abe735b200abb0f053ad8a3d0da633487c0c98cf03dc806c2b3bd049a1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"768a9978901dbb04b1c0607178ca9601"'
      X-Contentful-Request-Id:
      - 8c76869c6ac811d75dfa445c4a53475c
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "f3abi4dqvrhg"
                  }
                },
                "id": "3JX5vcHRhmAmaYwWq0S0wa",
                "type": "Asset",
                "createdAt": "2017-11-10T12:59:30.718Z",
                "updatedAt": "2017-11-10T12:59:30.718Z",
                "revision": 1,
                "locale": "en-US"
              },
              "fields": {
                "title": "Foo",
                "file": {
                  "url": "//images.contentful.com/f3abi4dqvrhg/3JX5vcHRhmAmaYwWq0S0wa/9ba45c1084d8530702bcd0de5617c59b/cat.jpg",
                  "details": {
                    "size": 47966,
                    "image": {
                      "width": 590,
                      "height": 428
                    }
                  },
                  "fileName": "cat.jpg",
                  "contentType": "image/jpeg"
                }
              }
            }
          ]
        }
  recorded_at: Fri, 10 Nov 2017 13:10:36 GMT
- request:
    method: get
    uri: https://preview.contentful.com/spaces/f3abi4dqvrhg/environments/master/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.2.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer 06c28ef41823bb636714dfd812066fa026a49e95041a0e94903d6cf016bba50e
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      mess[...]
