---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/vsy1ouf6jdcq/environments/master/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.1.3; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer 90e1b4964c3631cc9c751c42339814635623b001a53aec5aad23377299445433
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"c283f5e14b648b925eac46aa3ee07ca3"'
      X-Contentful-Request-Id:
      - d1e40cd5d4cfb17b8122b3b8256bf31a
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 1000,
          "items": []
        }
  recorded_at: Fri, 18 Aug 2017 21:03:09 GMT
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/vsy1ouf6jdcq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.1.3; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer 90e1b4964c3631cc9c751c42339814635623b001a53aec5aad23377299445433
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"41e2e178aad9b651bb9c230458dacaa0"'
      X-Contentful-Request-Id:
      - 07c944a494b440cb72fbfc4a8aaee17b
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Space",
            "id": "vsy1ouf6jdcq"
          },
          "name": "B.rb - locale creation",
          "locales": [
            {
              "code": "es-AR",
              "default": true,
              "name": "es-AR",
              "fallbackCode": null
            }
          ]
        }
  recorded_at: Fri, 18 Aug 2017 21:03:10 GMT
recorded_with: VCR 2.9.3
