---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"blog_space","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"318851b91cb49673472b8450db7b441d"'
      Location:
      - https://api.contentful.com/spaces/j17dhfgnz5wi
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 3580677251941a78da235271a2ac82a2
      X-Iinfo:
      - 4-147469295-147469332 NNNN CT(161 161 0) RT(1469191765841 98) q(0 0 3 -1)
        r(21 21) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"blog_space",
          "sys":{
            "type":"Space",
            "id":"j17dhfgnz5wi",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-07-22T12:49:26Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-07-22T12:49:26Z"
          }
        }

  recorded_at: Fri, 22 Jul 2016 12:49:28 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"2c014fd49b265333df19faf15077ad23"
      X-Contentful-Request-Id:
      - 917a37ae1cf5343e6b089923cc306864
      X-Iinfo:
      - 6-53963549-53963569 NNNN CT(141 141 0) RT(1503499169092 147) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":4,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-08-18T20:55:42Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-08-18T20:55:42Z",
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "j17dhfgnz5wi"
              }
            }
          }
        }

  recorded_at: Wed, 23 Aug 2017 14:39:29 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/content_types/author
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Author","fields":[{"id":"name","name":"Author
        Name","type":"Symbol"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"212e668c602748cccab9afe934963286"'
      X-Contentful-Request-Id:
      - 154894c60d503fba57fbe00902120ca8
      X-Iinfo:
      - 3-128091501-128091527 NNNN CT(145 288 0) RT(1469191768188 99) q(0 0 5 -1)
        r(30 30) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Author",
          "fields": [
            {
              "id": "name",
              "name": "Author Name",
              "type": "Symbol",
              "localized": false,
              "required": false,
              "disabled": false,
              "omitted": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "author",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2016-07-22T12:49:31.481Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "j17dhfgnz5wi"
              }
            },
            "updatedAt": "2016-07-22T12:49:31.481Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Fri, 22 Jul 2016 12:49:31 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/content_types/author/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f0ccf52b09c1cf4ef18d15984be28eba"'
      X-Contentful-Request-Id:
      - 480bb0bf925e91abab529a176732fc51
      X-Iinfo:
      - 5-168711616-168711645 NNNN CT(148 144 0) RT(1469191771374 90) q(0 0 3 -1)
        r(9 9) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
         [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/content_types/post
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Post","fields":[{"id":"title","name":"Post
        Title","type":"Symbol"},{"id":"content","name":"Content","type":"Text"},{"id":"author","name":"Author","type":"Link","linkType":"Entry"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentf[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/content_types/post/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
 [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/entries/dan_brown
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - author
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"aea225b5e54db8b306544b04ca8f28f9"'
      X-Contentful-Request-Id:
      - 37c2afb103a10beee0bcedfc97cb1300
      X-Iinfo:
      - 2-110134510-110134524 NNNN CT(141 145 0) RT(1469191777304 107) q(0 0 2 -1)
        r(5 5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {},
          "sys": {
            "id": "dan_brown",
            "type": "Entry",
            "version": 1,
            "createdAt": "2016-07-22T12:49:38.227Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "j17dhfgnz5wi"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "author"
              }
            },
            "updatedAt": "2016-07-22T12:49:38.227Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Fri, 22 Jul 2016 12:49:38 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/entries/pablo_neruda
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - author
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.manag[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/entries/inferno
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - post
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/entries/alturas
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - post
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/entries/dan_brown
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Dan Brown"}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b8379e4cdbbc8ab3b763117a741c1bec"'
      X-Contentful-Request-Id:
      - cb806e6319fee11bac8cc8bf64b125a6
      X-Iinfo:
      - 6-153801385-15380[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/entries/inferno
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Inferno"},"content":{"en-US":"Inferno
        is the last book in Dan Brown''s collection..."},"author":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"dan_brown"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"265417f5330123da3fa3f621b9cc2428"'
      X-Contentful-Request-Id:
      - 8b579f3f6ac56c2a[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/entries/dan_brown/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
  [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/entries/pablo_neruda/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/entries/inferno/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/environments/master/entries/alturas/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    [...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/j17dhfgnz5wi/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v3.2.0''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e6cd3cf9c0ef158b3326b39277a9dff3"'
      Location:
      - https://api.contentful.com/spaces/j17dhfgnz5wi/api_keys/5Pb1Zvk1kmKIfSmIluJeml
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - b8a49df0b0c8556628f3a7c74d95af28
      X-Iinfo:
      - 5-168723092-168723133 NNNN CT(160 161 0) RT(1469191808882 120) q(0 0 3 -1)
        r(9 9) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"Bootstrap Token",
          "description":"Created with 'contentful_bootstrap.rb v3.2.0'",
          "accessToken":"2a8c37d593345733ddcc5ad8809a8195684fd83f9417d292dfbd177659c273f5",
          "policies":[
            {
              "effect":"allow",
              "actions":"all"
            }
          ],
          "sys":{
            "type":"ApiKey",
            "id":"5Pb1Zvk1kmKIfSmIluJeml",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"j17dhfgnz5wi"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-07-22T12:50:09Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-07-22T12:50:09Z"
          },
          "preview_api_key":{
            "sys":{
              "type":"Link",
              "linkType":"PreviewApiKey",
              "id":"5PcFWpykQQubb6rwUvdAN3"
            }
          }
        }

  recorded_at: Fri, 22 Jul 2016 12:50:10 GMT
recorded_with: VCR 2.9.3
