---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"gallery_space","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 1PLOOEmTI2S1NYald2TemO
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3c0769963328f864be3915461b60c257"'
      Location:
      - https://api.contentful.com/spaces/h1elitsnp3wf
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 9e1-621570012
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"h1elitsnp3wf",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "createdAt":"2015-11-27T09:03:29Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "updatedAt":"2015-11-27T09:03:30Z"
          },
          "name":"gallery_space"
        }

  recorded_at: Fri, 27 Nov 2015 09:03:33 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/content_types/author
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Author","description":null,"fields":[{"id":"name","name":"Name","type":"Symbol"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bf7e24f663e78d272ce61a46a61b8fa4"'
      X-Contentful-Request-Id:
      - content-api:1yEla3rHkMom4u6UuGwS4q
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Author",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "author",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2015-11-27T09:03:36.149Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "h1elitsnp3wf"
              }
            },
            "updatedAt": "2015-11-27T09:03:36.149Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Fri, 27 Nov 2015 09:03:37 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/content_types/author/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"dfdb3f1971e8bc57abb8aea9ab7fdb69"'
      X-Contentful-Request-Id:
      - content-api:38mxpHZueAemKEYaeWosWS
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Author",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "author",
            "type": "ContentType",
            "createdAt": "2015-11-27T09:03:36.149Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "h1elitsnp3wf"
              }
            },
            "version": 2,
            "updatedAt": "2015-11-27T09:03:39.751Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "firstPublishedAt": "2015-11-27T09:03:39.751Z",
            "publishedCounter": 1,
            "publishedAt": "2015-11-27T09:03:39.751Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "publishedVersion": 1
          }
        }
  recorded_at: Fri, 27 Nov 2015 09:03:41 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/content_types/image
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Image","description":null,"fields":[{"id":"title","name":"Title","type":"Symbol"},{"id":"photo","name":"Photo","type":"Link","linkType":"Asset"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/content_types/image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/content_types/gallery
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Gallery","description":null,"fields":[{"id":"title","name":"Title","type":"Symbol"},{"id":"author","name":"Author","type":"Link","linkType":"Entry"},{"id":"images","name":"Images","type":"Array","items":{"type":"Link","linkType":"Entry"}}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3a5e45df9bf8efba84c415ff265baee2"'
      X-Contentful-Request-Id:
      - content-api:3faV8YuUekmycyIwgc40w
    body:
      encoding: UTF-8
      string: |
   [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/content_types/gallery/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/assets/pie
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Pie in the Sky"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"pie.jpg","upload":"https://c2.staticflickr.com/6/5245/5335909339_d307a7cbcf_b.jpg"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"18c2e3e5138a143123ac549551974726"'
      X-Contentful-Request-Id:
      - content-api:6XcOTT7s7CMwqO40myEAMq
    body:
      enc[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/assets/pie/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:420eyngAysM4sUWy2qcgIa
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Nov 2015 09:03:50 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/assets/pie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"39c90adbb96acb1e728c2d3e96799263"'
      X-Contentful-Request-Id:
      - content-api:4TqMgtnQP6k6SEiEuGowak
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Pie in the Sky"
            },
            "description": {
              "en-US": null
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "pie.jpg",
                "details": {
                  "image": {
                    "width": 1024,
                    "height": 683
                  },
                  "size": 266411
                },
                "url": "//images.contentful.com/h1elitsnp3wf/pie/9e531911cc9aa958724be3ff4c0834f8/pie.jpg"
              }
            }
          },
          "sys": {
            "id": "pie",
            "type": "Asset",
            "createdAt": "2015-11-27T09:03:48.481Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "h1elitsnp3wf"
              }
            },
            "version": 2,
            "updatedAt": "2015-11-27T09:03:49.715Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Fri, 27 Nov 2015 09:03:51 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/assets/pie/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bda4634[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/assets/flower
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"The Flower"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"flower.jpg","upload":"http://c2.staticflickr.com/4/3922/15045568809_b24591e318_b.jpg"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  respon[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/assets/flower/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:5vzwt3U2acIgs8u4aewkC2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Nov 2015 09:03:53 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/assets/flower/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f31a[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/entries/dave
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - author
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e147b3426f3f207630560fd5fffdb624"'
      X-Contentful-Request-Id:
      - content-api:1Vfs8KBL5eOYesMK4eeG8
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {},
          "sys": {
            "id": "dave",
            "type": "Entry",
            "version": 1,
            "createdAt": "2015-11-27T09:03:55.233Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "h1elitsnp3wf"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "author"
              }
            },
            "updatedAt": "2015-11-27T09:03:55.233Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Fri, 27 Nov 2015 09:03:56 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/entries/pie_entry
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - image
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/entries/flower_entry
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - image
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      E[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/entries/gallery
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - gallery
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/entries/pie_entry
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"A Pie in the Sky"},"photo":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"pie"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b71afd0615abc9b3992f33366f88f5e5"'
      X-Contentful-Request-Id:
      - content-api:7a81pz2EWk[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/entries/gallery
    body:
      encoding: UTF-8
      string: '{"fields":{"images":{"en-US":[{"sys":{"type":"Link","linkType":"Entry","id":"pie_entry"}},{"sys":{"type":"Link","linkType":"Entry","id":"flower_entry"}}]},"title":{"en-US":"Photo
        Gallery"},"author":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"dave"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e38c96043c016843589f7270ba0ebeaf"'
      X-Contentful-Request-Id:
      - content-api:5YaRL1vVj[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/entries/dave/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ad98d[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/entries/pie_entry/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/entries/flower_entry/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/entries/gallery/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"dc[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/h1elitsnp3wf/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v2.0.2''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful[...]
