---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"catalogue_space","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 1PLOOEmTI2S1NYald2TemO
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d8526c2b3380b74ed86489e4fdcf1f9c"'
      Location:
      - https://api.contentful.com/spaces/rlql1v35lr9w
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 9e1-621570451
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"rlql1v35lr9w",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "createdAt":"2015-11-27T09:04:24Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "updatedAt":"2015-11-27T09:04:24Z"
          },
          "name":"catalogue_space"
        }

  recorded_at: Fri, 27 Nov 2015 09:04:28 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/content_types/brand
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Brand","description":null,"fields":[{"id":"name","name":"Company
        Name","type":"Symbol"},{"id":"website","name":"Website","type":"Symbol"},{"id":"logo","name":"Logo","type":"Link","linkType":"Asset"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2fc22af1a98e374d09854ad46d505b01"'
      X-Contentful-Request-Id:
      - content-api:59chMdDwFq6eY8GmomIqo2
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Brand",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Company Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            },
            {
              "id": "website",
              "name": "Website",
              "type": "Symbol",
              "localized": false,
              "validations": []
            },
            {
              "id": "logo",
              "name": "Logo",
              "type": "Link",
              "linkType": "Asset",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "brand",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2015-11-27T09:04:30.361Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "rlql1v35lr9w"
              }
            },
            "updatedAt": "2015-11-27T09:04:30.361Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Fri, 27 Nov 2015 09:04:32 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/content_types/brand/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"52cf7e358750c9cd7d7d666b62c4d995"'
      X-Contentful-Request-Id:
      - content-api:2DObY5xWXmsAYKI60KwqIu
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Brand",
          "description": null,
          "fields": [
            {
              "id": "name[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/content_types/category
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Category","description":null,"fields":[{"id":"title","name":"Title","type":"Symbol"},{"id":"description","name":"Description","type":"Text"},{"id":"icon","name":"Icon","type":"Link","linkType":"Asset"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/content_types/category/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
     [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/content_types/product
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Product","description":null,"fields":[{"id":"name","name":"name","type":"Symbol"},{"id":"description","name":"Description","type":"Text"},{"id":"image","name":"Image","type":"Link","linkType":"Asset"},{"id":"brand","name":"Brand","type":"Link","linkType":"Entry"},{"id":"category","name":"Category","type":"Link","lin[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/content_types/product/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/playsam_image
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Playsam"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"playsam_image.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/4zj1ZOfHgQ8oqgaSKm4Qo2/3be82d54d45b5297e951aee9baf920da/playsam.jpg?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"aad9fbe68c4f7395c45efd422bdc609d"'
      X-Contentful-Request-Id:
      -[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/playsam_image/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:vqqrVqY2tiUkwaKq0MokO
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Nov 2015 09:04:45 GMT
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/playsam_image
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bbadea5d1db3e9b6cbf77ff0461fccf9"'
      X-Contentful-Request-Id:
      - content-api:p761oMfF5uWwk44IMoSGI
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Playsam"
            },
            "description": {
              "en-US": null
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "playsam_image.jpg",
                "details": {
                  "image": {
                    "width": 100,
                    "height": 100
                  },
                  "size": 6062
                },
                "url": "//images.contentful.com/rlql1v35lr9w/playsam_image/364e28713a7ff1f0a635461a79acb016/playsam_image.jpg"
              }
            }
          },
          "sys": {
            "id": "playsam_image",
            "type": "Asset",
            "createdAt": "2015-11-27T09:04:43.188Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "rlql1v35lr9w"
              }
            },
            "version": 2,
            "updatedAt": "2015-11-27T09:04:44.607Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Fri, 27 Nov 2015 09:04:47 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/playsam_image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/normann_image
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Normann"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"normann_image.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/3wtvPBbBjiMKqKKga8I2Cu/75c7c92f38f7953a741591d215ad61d4/zJYzDlGk.jpeg?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/normann_image/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:5X8AmI0bHGWUqO0ome8yiM
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Nov 2015 09:04:50 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/normann_image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/toy_image
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Toys"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"toy_image.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/6t4HKjytPi0mYgs240wkG/866ef53a11af9c6bf5f3808a8ce1aab2/toys_512pxGREY.png?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
 [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/toy_image/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:5IXsFARvmEKuOIq6OCYOq0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Nov 2015 09:04:54 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/toy_image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/kitchen_image
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Kitchen and Home"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"kitchen_image.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/6m5AJ9vMPKc8OUoQeoCS4o/ffc20f5a8f2a71cca4801bc9c51b966a/1418244847_Streamline-18-256.png?h=250&"}}}}'
    headers:
      Authorization:
      - [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/kitchen_image/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:26U4ChSH9WGqeAAcuOk4yI
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Nov 2015 09:04:59 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/kitchen_image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/toy_car
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Playsam Toy Car"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"toy_car.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/wtrHxeu3zEoEce2MokCSi/acef70d12fe019228c4238aa791bdd48/quwowooybuqbl6ntboz3.jpg?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Co[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/toy_car/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:2SDJZVsali2OaueoiW6UGW
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Nov 2015 09:05:04 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/toy_car/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f17[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/whiskers
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Normann Whisk Beaters"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"whiskers.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/10TkaLheGeQG6qQGqWYqUI/d510dde5e575d40288cf75b42383aa53/ryugj83mqwa1asojwtwb.jpg?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer foobar[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/whiskers/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:GuOkDDkxs2g6YQAsK6Gwm
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Nov 2015 09:05:09 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/assets/whiskers/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"db[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/playsam
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - brand
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6f953ec3822d5c7b3a3d684d5a76ab10"'
      X-Contentful-Request-Id:
      - content-api:647sBW30HeYEA46iKGIQuU
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {},
          "sys": {
            "id": "playsam",
            "type": "Entry",
            "version": 1,
            "createdAt": "2015-11-27T09:05:12.320Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "rlql1v35lr9w"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "brand"
              }
            },
            "updatedAt": "2015-11-27T09:05:12.320Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Fri, 27 Nov 2015 09:05:14 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/normann
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - brand
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/toys
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - category
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/kitchen
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - category
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Eta[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/playsam_car
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - product
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/whisk_beater
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - product
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
     [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/playsam
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Playsam, Inc"},"website":{"en-US":"http://www.playsam.com"},"logo":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"playsam_image"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"eb77b521550b35dcb68a18f76592aea7"'
      X-Contentful-Request-Id:
      - content-api:[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/toys
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Toys"},"description":{"en-US":"Toys for
        children"},"icon":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"toy_image"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"0e5dd2c54b7fdb2e6fbfa3ede2eed357"'
      X-Contentful-Request-Id:
      - content-api:1K9d[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/playsam_car
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Playsam Streamliner Classic Car, Espresso"},"description":{"en-US":"A
        classic Playsam design, the Streamliner Classic Car has been selected as Swedish
        Design Classic by the Swedish National Museum for its inventive style and
        sleek surface. It''s no wonder that this wooden car has also been a long-standing
        favorite for children both big and small!"},"image":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"toy_car"}}},"brand":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"playsam"}}},"category":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"toys"}}},"url":{"en-US":"http://www.amazon.com/dp/B001R6JUZ2/"}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4d11ee212ffba091f47b7e2074abddfe"'
     [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/playsam/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"af[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/normann/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bc[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/toys/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2275c[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/kitchen/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"7d[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/playsam_car/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/entries/whisk_beater/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/rlql1v35lr9w/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v2.0.2''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful[...]
