---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"gallery_space","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a9302456857cb625cc506f0d91931095"'
      Location:
      - https://api.contentful.com/spaces/3mf0acugjo3b
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 0b5-124658914
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"3mf0acugjo3b",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2015-11-18T15:24:58Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2015-11-18T15:24:58Z"
          },
          "name":"gallery_space"
        }

  recorded_at: Wed, 18 Nov 2015 15:24:59 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/content_types/author
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Author","description":null,"fields":[{"id":"name","name":"Name","type":"Symbol"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"53ad97862d4b6c7f98f9437242b4ec2a"'
      X-Contentful-Request-Id:
      - content-api:1hmIscOLqCYy6Og4osgUUQ
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Author",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "author",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2015-11-18T15:25:00.609Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "3mf0acugjo3b"
              }
            },
            "updatedAt": "2015-11-18T15:25:00.609Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Wed, 18 Nov 2015 15:25:00 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/content_types/author/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"860421b5b6b2fbcbf4f4a7fde824b040"'
      X-Contentful-Request-Id:
      - content-api:1CSe4DA3OYGWyIe066me4a
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Author",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "author",
            "type": "ContentType",
            "createdAt": "2015-11-18T15:25:00.609Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "3mf0acugjo3b"
              }
            },
            "version": 2,
            "updatedAt": "2015-11-18T15:25:01.368Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "firstPublishedAt": "2015-11-18T15:25:01.368Z",
            "publishedCounter": 1,
            "publishedAt": "2015-11-18T15:25:01.368Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 1
          }
        }
  recorded_at: Wed, 18 Nov 2015 15:25:01 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/content_types/image
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Image","description":null,"fields":[{"id":"title","name":"Title","type":"Symbol"},{"id":"photo","name":"Photo","type":"Link","linkType":"Asset"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/content_types/image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/content_types/gallery
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Gallery","description":null,"fields":[{"id":"title","name":"Title","type":"Symbol"},{"id":"author","name":"Author","type":"Link","linkType":"Entry"},{"id":"images","name":"Images","type":"Array","items":{"type":"Link","linkType":"Entry"}}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a1283dd9fff2676d9099139c43f07019"'
      X-Contentful-Request-Id:
      - content-api:34MWFHwIpGKmgIsqIgOEGE
    body:
      encoding: UTF-8
      string: |
  [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/content_types/gallery/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/assets/pie
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Pie in the Sky"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"pie.jpg","upload":"https://c2.staticflickr.com/6/5245/5335909339_d307a7cbcf_b.jpg"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3cc2862e98645108d67ab4001c40c55c"'
      X-Contentful-Request-Id:
      - content-api:4XqFnW3Uqc2KAykIOWYAkm
    body:
      enc[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/assets/pie/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:4vc3Kb0fccYqq8G8ye0Mic
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2015 15:25:07 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/assets/pie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9cbc6beb6865c2f541b4aba8d487df08"'
      X-Contentful-Request-Id:
      - content-api:6npCsapBcI0McA4k2kqYEi
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Pie in the Sky"
            },
            "description": {
              "en-US": null
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "pie.jpg",
                "details": {
                  "image": {
                    "width": 1024,
                    "height": 683
                  },
                  "size": 266411
                },
                "url": "//images.contentful.com/3mf0acugjo3b/pie/759ff397fb8f53bd2a775af4dea1b13a/pie.jpg"
              }
            }
          },
          "sys": {
            "id": "pie",
            "type": "Asset",
            "createdAt": "2015-11-18T15:25:06.965Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "3mf0acugjo3b"
              }
            },
            "version": 2,
            "updatedAt": "2015-11-18T15:25:08.266Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Wed, 18 Nov 2015 15:25:08 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/assets/pie/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"591239a[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/assets/flower
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"The Flower"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"flower.jpg","upload":"http://c2.staticflickr.com/4/3922/15045568809_b24591e318_b.jpg"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  respon[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/assets/flower/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:657BpcgfwkKmew20qGgksy
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2015 15:25:11 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/assets/flower/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8e66[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/entries/dave
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Dave"}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - author
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c64c0cdf7e891d70a224ca34911135e9"'
      X-Contentful-Request-Id:
      - content-api:5QKwpyN3na22IuaCQweeK4
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Dave"
            }
          },
          "sys": {
            "id": "dave",
            "type": "Entry",
            "version": 1,
            "createdAt": "2015-11-18T15:25:14.369Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "3mf0acugjo3b"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "author"
              }
            },
            "updatedAt": "2015-11-18T15:25:14.369Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Wed, 18 Nov 2015 15:25:14 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/entries/pie_entry
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"A Pie in the Sky"},"photo":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"pie"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - image
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b4a373679ce0a7f8cc86d73a233dca60"'
      X-Contentful-Request-Id:
      - content-ap[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/entries/flower_entry
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"The Flower"},"photo":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"flower"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - image
  response:
    status:
      code: 201
      messag[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/entries/gallery
    body:
      encoding: UTF-8
      string: '{"fields":{"images":{"en-US":[{"sys":{"type":"Link","linkType":"Entry","id":"pie_entry"}},{"sys":{"type":"Link","linkType":"Entry","id":"flower_entry"}}]},"title":{"en-US":"Photo
        Gallery"},"author":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"dave"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - gallery
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"27363d0b078aa7679a917ad394e385ac"'
      X-Contentful-Request-Id:
      - content[...]
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/entries?content_type=author
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"97888497d72480ad7e3451dd4442b40b"'
      X-Contentful-Request-Id:
      - content-api:61huRFUFjOaAE44YceogUk
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "name": {
                  "en-US": "Dave"
                }
              },
              "sys": {
                "id": "dave",
                "type": "Entry",
                "createdAt": "2015-11-18T15:25:14.369Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "3mf0acugjo3b"
                  }
                },
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "author"
                  }
                },
                "version": 2,
                "updatedAt": "2015-11-18T15:25:15.243Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Wed, 18 Nov 2015 15:25:23 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/entries/dave/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ed8fc[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/entries?content_type=image
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"446cebb0e3905e338aa502c9ce295801"'
      [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/entries/flower_entry/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/entries/pie_entry/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/entries?content_type=gallery
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"17dee285d64c9828ac13f6e146221e48"'
    [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/entries/gallery/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"86[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/3mf0acugjo3b/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v2.0.2''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful[...]
