---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"blog_space","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"56404e690e6b747ae9040984175e4dcf"'
      Location:
      - https://api.contentful.com/spaces/zred3m25k5em
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - b89-1468506509
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"zred3m25k5em",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2015-11-18T15:24:35Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2015-11-18T15:24:35Z"
          },
          "name":"blog_space"
        }

  recorded_at: Wed, 18 Nov 2015 15:24:36 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/zred3m25k5em/content_types/author
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Author","description":null,"fields":[{"id":"name","name":"Author
        Name","type":"Symbol"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1149fa4851540eeca71043bda9e66c61"'
      X-Contentful-Request-Id:
      - content-api:6I4fPmc3DiKGscSwy0m0Ka
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Author",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Author Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "author",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2015-11-18T15:24:38.141Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "zred3m25k5em"
              }
            },
            "updatedAt": "2015-11-18T15:24:38.141Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Wed, 18 Nov 2015 15:24:38 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/zred3m25k5em/content_types/author/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a72b809b3b60c5d17dfeb057844201ac"'
      X-Contentful-Request-Id:
      - content-api:1C63n263NuIAM28AgUIEg0
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Author",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Author Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "author",
            "type": "ContentType",
            "createdAt": "2015-11-18T15:24:38.141Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "zred3m25k5em"
              }
            },
            "version": 2,
            "updatedAt": "2015-11-18T15:24:38.894Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "firstPublishedAt": "2015-11-18T15:24:38.894Z",
            "publishedCounter": 1,
            "publishedAt": "2015-11-18T15:24:38.894Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 1
          }
        }
  recorded_at: Wed, 18 Nov 2015 15:24:39 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/zred3m25k5em/content_types/post
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Post","description":null,"fields":[{"id":"title","name":"Post
        Title","type":"Symbol"},{"id":"content","name":"Content","type":"Text"},{"id":"author","name":"Author","type":"Link","linkType":"Entry"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentfu[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/zred3m25k5em/content_types/post/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/zred3m25k5em/entries/dan_brown
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Dan Brown"}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - author
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"76375421ad396ec8c4649c66e23dd0ec"'
      X-Contentful-Request-Id:
      - content-api:6nyLmHNX5CCK2M0G2E0AEa
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Dan Brown"
            }
          },
          "sys": {
            "id": "dan_brown",
            "type": "Entry",
            "version": 1,
            "createdAt": "2015-11-18T15:24:43.613Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "zred3m25k5em"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "author"
              }
            },
            "updatedAt": "2015-11-18T15:24:43.613Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Wed, 18 Nov 2015 15:24:43 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/zred3m25k5em/entries/pablo_neruda
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Pablo Neruda"}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - author
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.conte[...]
[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/zred3m25k5em/entries/
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Inferno"},"content":{"en-US":"Inferno
        is the last book in Dan Brown''s collection..."},"author":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"dan_brown"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - post
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f0c9eb940b9ba3b2763a7996b2216404"'
      X-Contentful-Request-Id:
      - conte[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/zred3m25k5em/entries/2L6FsegUxiw22CMUY4qCQo
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Inferno"},"content":{"en-US":"Inferno
        is the last book in Dan Brown''s collection..."},"author":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"dan_brown"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
   [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/zred3m25k5em/entries/gZfOUziDy88QIc4uo8o6G
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Alturas de Macchu Picchu"},"content":{"en-US":"Alturas
        de Macchu Picchu is one of Pablo Neruda''s most famous poetry books..."},"author":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"pablo_neruda"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - applic[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/zred3m25k5em/entries?content_type=author
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"42546b9d9a8d210cf41b66e0deabf566"'
      X-Contentful-Request-Id:
      - content-api:5ab4bWdKROMycaQw4UqAiY
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "name": {
                  "en-US": "Dan Brown"
                }
              },
              "sys": {
                "id": "dan_brown",
                "type": "Entry",
                "createdAt": "2015-11-18T15:24:43.613Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
    [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/zred3m25k5em/entries/dan_brown/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/zred3m25k5em/entries/pablo_neruda/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/zred3m25k5em/entries?content_type=post
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1a207c8e5838fcc034b8609d11203f98"'
      X[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/zred3m25k5em/entries/gZfOUziDy88QIc4uo8o6G/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/zred3m25k5em/entries/2L6FsegUxiw22CMUY4qCQo/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Eta[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/zred3m25k5em/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v2.0.2''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful[...]
