---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"catalogue_space","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a1a297d968c9803aeb20c2223cddda5b"'
      Location:
      - https://api.contentful.com/spaces/az2xnj8oqhca
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - ca419c8ed1c05e9cb8a39ea16619487f
      X-Iinfo:
      - 5-168723779-168723813 NNNN CT(143 148 0) RT(1469191811320 113) q(0 0 3 -1)
        r(20 20) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"catalogue_space",
          "sys":{
            "type":"Space",
            "id":"az2xnj8oqhca",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-07-22T12:50:12Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-07-22T12:50:12Z"
          }
        }

  recorded_at: Fri, 22 Jul 2016 12:50:13 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"2c014fd49b265333df19faf15077ad23"
      X-Contentful-Request-Id:
      - 917a37ae1cf5343e6b089923cc306864
      X-Iinfo:
      - 6-53963549-53963569 NNNN CT(141 141 0) RT(1503499169092 147) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":4,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-08-18T20:55:42Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-08-18T20:55:42Z",
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "az2xnj8oqhca"
              }
            }
          }
        }

  recorded_at: Wed, 23 Aug 2017 14:39:29 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/content_types/brand
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Brand","fields":[{"id":"name","name":"Company
        Name","type":"Symbol"},{"id":"website","name":"Website","type":"Symbol"},{"id":"logo","name":"Logo","type":"Link","linkType":"Asset"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8d05baa9fb19eb66e868da797a17ac38"'
      X-Contentful-Request-Id:
      - d94ccc3824c2308b47e9694909325e33
      X-Iinfo:
      - 5-168724503-168724541 NNNN CT(145 146 0) RT(1469191813519 106) q(0 0 3 -1)
        r(33 33) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Brand",
          "fields": [
            {
              "id": "name",
              "name": "Company Name",
              "type": "Symbol",
              "localized": false,
              "required": false,
              "disabled": false,
              "omitted": false,
              "validations": []
            },
            {
              "id": "website",
              "name": "Website",
              "type": "Symbol",
              "localized": false,
              "required": false,
              "disabled": false,
              "omitted": false,
              "validations": []
            },
            {
              "id": "logo",
              "name": "Logo",
              "type": "Link",
              "linkType": "Asset",
              "localized": false,
              "required": false,
              "disabled": false,
              "omitted": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "brand",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2016-07-22T12:50:17.192Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "az2xnj8oqhca"
              }
            },
            "updatedAt": "2016-07-22T12:50:17.192Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Fri, 22 Jul 2016 12:50:17 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/content_types/brand/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d807124adfcf472a71305339a725a321"'
      X-Contentful-Request-Id:
      - aa9eaca20f2415dbbaf634d72f5e38c6
      X-Iinfo:
      - 4-147483156-147483184 NNNN CT(142 142 0) RT(1469191817152 145) q(0 0 3 -1)
        r(36 36) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
      [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/content_types/category
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Category","fields":[{"id":"title","name":"Title","type":"Symbol"},{"id":"description","name":"Description","type":"Text"},{"id":"icon","name":"Icon","type":"Link","linkType":"Asset"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentfu[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/content_types/category/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+js[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/content_types/product
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Product","fields":[{"id":"name","name":"name","type":"Symbol"},{"id":"description","name":"Description","type":"Text"},{"id":"image","name":"Image","type":"Link","linkType":"Asset"},{"id":"brand","name":"Brand","type":"Link","linkType":"Entry"},{"id":"category","name":"Category","type":"Link","li[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/content_types/product/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+jso[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/playsam_image
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Playsam"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"playsam_image.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/4zj1ZOfHgQ8oqgaSKm4Qo2/3be82d54d45b5297e951aee9baf920da/playsam.jpg?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"176dbf9541f9f8b7a62bdf9a9a3880a3"'
      X-Contentful-Request-Id:
      -[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/playsam_image/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 68163949b6c6b589bec87d09181e70b9
      X-Iinfo:
      - 8-196191987-196192035 NNNN CT(144 143 0) RT(1469191826901 104) q(0 0 2 -1)
        r(27 27) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jul 2016 12:50:30 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/playsam_image
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"15fe25357859289e6c67ddd485766542"'
      X-Contentful-Request-Id:
      - 94a063ce662a531f3eb95db946a77e21
      X-Iinfo:
      - 6-153813214-153813229 NNNN CT(145 146 0) RT(1469191829839 90) q(0 0 3 -1)
        r(5 5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Playsam"
            },
            "description": {
              "en-US": null
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "playsam_image.jpg",
                "details": {
                  "image": {
                    "width": 100,
                    "height": 100
                  },
                  "size": 6062
                },
                "url": "//images.contentful.com/az2xnj8oqhca/playsam_image/d8ecdc0a76d103a3d41e03c9a0748dd9/playsam_image.jpg"
              }
            }
          },
          "sys": {
            "id": "playsam_image",
            "type": "Asset",
            "createdAt": "2016-07-22T12:50:26.667Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "az2xnj8oqhca"
              }
            },
            "version": 2,
            "updatedAt": "2016-07-22T12:50:30.536Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Fri, 22 Jul 2016 12:50:30 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/playsam_image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/normann_image
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Normann"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"normann_image.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/3wtvPBbBjiMKqKKga8I2Cu/75c7c92f38f7953a741591d215ad61d4/zJYzDlGk.jpeg?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer f[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/normann_image/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 8d5a2381aeda9613faf71b20de2c30db
      X-Iinfo:
      - 6-153813942-153813963 NNNN CT(141 145 0) RT(1469191832288 99) q(0 0 3 -1)
        r(5 5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jul 2016 12:50:33 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/normann_image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/toy_image
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Toys"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"toy_image.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/6t4HKjytPi0mYgs240wkG/866ef53a11af9c6bf5f3808a8ce1aab2/toys_512pxGREY.png?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer foobar
 [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/toy_image/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 2ca128f8deb27ff53fce7ee3a671b42b
      X-Iinfo:
      - 10-230363622-230363675 NNNN CT(160 162 0) RT(1469191835360 124) q(0 0 4 -1)
        r(6 6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jul 2016 12:50:36 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/toy_image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
   [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/kitchen_image
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Kitchen and Home"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"kitchen_image.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/6m5AJ9vMPKc8OUoQeoCS4o/ffc20f5a8f2a71cca4801bc9c51b966a/1418244847_Streamline-18-256.png?h=250&"}}}}'
    headers:
      Aut[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/kitchen_image/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - b286278c0ed9b6e4e321b7c0202519d5
      X-Iinfo:
      - 9-212945855-212945899 NNNN CT(143 144 0) RT(1469191838633 102) q(0 0 3 -1)
        r(5 5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jul 2016 12:50:39 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/kitchen_image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/toy_car
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Playsam Toy Car"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"toy_car.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/wtrHxeu3zEoEce2MokCSi/acef70d12fe019228c4238aa791bdd48/quwowooybuqbl6ntboz3.jpg?h=250&"}}}}'
    headers:
      Authorization:
      - Be[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/toy_car/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 01c93fbdda3d238268ab8111a82f2c61
      X-Iinfo:
      - 8-196197832-196197879 NNNN CT(140 142 0) RT(1469191841996 114) q(0 0 2 -1)
        r(5 5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jul 2016 12:50:43 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/toy_car/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
     [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/whiskers
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Normann Whisk Beaters"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"whiskers.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/10TkaLheGeQG6qQGqWYqUI/d510dde5e575d40288cf75b42383aa53/ryugj83mqwa1asojwtwb.jpg?h=250&"}}}}'
    headers:
      Authorization:
 [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/whiskers/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 41da7477bf0780438173b6706bcd70fb
      X-Iinfo:
      - 6-153817832-153817860 NNNN CT(160 160 0) RT(1469191845304 93) q(0 0 4 -1)
        r(6 6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jul 2016 12:50:46 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/assets/whiskers/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/entries/playsam
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - brand
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"fb596fa482256832da4bc031434eead9"'
      X-Contentful-Request-Id:
      - 318bbd8b0153549ec09a51d6c52abc34
      X-Iinfo:
      - 8-196200265-196200327 NNNN CT(171 149 0) RT(1469191848575 293) q(0 0 3 -1)
        r(6 6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
 [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/entries/normann
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - brand
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/entries/toys
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - category
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/entries/kitchen
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - category
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.manageme[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/entries/playsam_car
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - product
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.manag[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/entries/whisk_beater
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - product
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.mana[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/entries/playsam
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Playsam, Inc"},"website":{"en-US":"http://www.playsam.com"},"logo":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"playsam_image"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"82b0f135505dcf4939c4ac53f14dadb0"'
      X-Contentful-Request-Id:
      - a13d3ad33e34[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/entries/toys
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Toys"},"description":{"en-US":"Toys for
        children"},"icon":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"toy_image"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f2e6c22caa782468af54b6dad6732e39"'
      X-Contentful-Request-Id:
      - a220297c896eed4d[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/entries/playsam_car
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Playsam Streamliner Classic Car, Espresso"},"description":{"en-US":"A
        classic Playsam design, the Streamliner Classic Car has been selected as Swedish
        Design Classic by the Swedish National Museum for its inventive style and
        sleek surface. It''s no wonder that this wooden car has also been a long-standing
        favorite for children both big and small!"},"image":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"toy_car"}}},"brand":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"playsam"}}},"category":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"toys"}}},"url":{"en-US":"http://www.amazon.com/dp/B001R6JUZ2/"}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e1e0386e0fe028d1a2af18498aba5d1a"'
     [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/entries/playsam/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/az2xnj8oqhca/environments/master/entries/normann/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
[...]
