---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"catalogue_space","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bc462fdc0b059fc209b362edd2daf9bf"'
      Location:
      - https://api.contentful.com/spaces/x4aalb1l82h7
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 9e1-615651262
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"x4aalb1l82h7",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2015-11-18T15:25:30Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2015-11-18T15:25:30Z"
          },
          "name":"catalogue_space"
        }

  recorded_at: Wed, 18 Nov 2015 15:25:30 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/content_types/brand
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Brand","description":null,"fields":[{"id":"name","name":"Company
        Name","type":"Symbol"},{"id":"website","name":"Website","type":"Symbol"},{"id":"logo","name":"Logo","type":"Link","linkType":"Asset"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b03d2e249ffcfcfac0d5f57965dc687b"'
      X-Contentful-Request-Id:
      - content-api:4Rx5qxEBja8I0cQu0O4G8s
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Brand",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Company Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            },
            {
              "id": "website",
              "name": "Website",
              "type": "Symbol",
              "localized": false,
              "validations": []
            },
            {
              "id": "logo",
              "name": "Logo",
              "type": "Link",
              "linkType": "Asset",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "brand",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2015-11-18T15:25:32.401Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "x4aalb1l82h7"
              }
            },
            "updatedAt": "2015-11-18T15:25:32.401Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Wed, 18 Nov 2015 15:25:32 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/content_types/brand/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6934ebec48cf85fde37bae7e3e3e8191"'
      X-Contentful-Request-Id:
      - content-api:7j4ZU9adtSuwmA0ooK2QWa
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Brand",
          "description": null,
          "fields": [
            {
              "id": "name[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/content_types/category
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Category","description":null,"fields":[{"id":"title","name":"Title","type":"Symbol"},{"id":"description","name":"Description","type":"Text"},{"id":"icon","name":"Icon","type":"Link","linkType":"Asset"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/content_types/category/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
     [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/content_types/product
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Product","description":null,"fields":[{"id":"name","name":"name","type":"Symbol"},{"id":"description","name":"Description","type":"Text"},{"id":"image","name":"Image","type":"Link","linkType":"Asset"},{"id":"brand","name":"Brand","type":"Link","linkType":"Entry"},{"id":"category","name":"Category","type":"Link","lin[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/content_types/product/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/playsam_image
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Playsam"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"playsam_image.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/4zj1ZOfHgQ8oqgaSKm4Qo2/3be82d54d45b5297e951aee9baf920da/playsam.jpg?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"08341415340b0e7c0b1b598a19cffb4a"'
      X-Contentful-Request-Id:
      -[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/playsam_image/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:688eP9Cff2QcQIUq6Uo8Gc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2015 15:25:40 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/playsam_image
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"70acd6a3f4b7e19229fdcdbf6ae8efbb"'
      X-Contentful-Request-Id:
      - content-api:2WGiskDnMAio0yWs6aqgOs
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Playsam"
            },
            "description": {
              "en-US": null
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "playsam_image.jpg",
                "details": {
                  "image": {
                    "width": 100,
                    "height": 100
                  },
                  "size": 6062
                },
                "url": "//images.contentful.com/x4aalb1l82h7/playsam_image/14a8182fbb061882093ccaa667ed2a14/playsam_image.jpg"
              }
            }
          },
          "sys": {
            "id": "playsam_image",
            "type": "Asset",
            "createdAt": "2015-11-18T15:25:39.529Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "x4aalb1l82h7"
              }
            },
            "version": 2,
            "updatedAt": "2015-11-18T15:25:40.859Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Wed, 18 Nov 2015 15:25:40 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/playsam_image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/normann_image
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Normann"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"normann_image.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/3wtvPBbBjiMKqKKga8I2Cu/75c7c92f38f7953a741591d215ad61d4/zJYzDlGk.jpeg?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/normann_image/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:4wQx3IvZB6EAse6SsyGMWU
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2015 15:25:43 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/normann_image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/toy_image
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Toys"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"toy_image.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/6t4HKjytPi0mYgs240wkG/866ef53a11af9c6bf5f3808a8ce1aab2/toys_512pxGREY.png?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
 [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/toy_image/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:1kViqWcDtOAOookCKaUksa
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2015 15:25:47 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/toy_image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/kitchen_image
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Kitchen and Home"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"kitchen_image.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/6m5AJ9vMPKc8OUoQeoCS4o/ffc20f5a8f2a71cca4801bc9c51b966a/1418244847_Streamline-18-256.png?h=250&"}}}}'
    headers:
      Authorization:
      - [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/kitchen_image/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:tGtLi9pu36g6caGEqucww
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2015 15:25:50 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/kitchen_image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/toy_car
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Playsam Toy Car"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"toy_car.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/wtrHxeu3zEoEce2MokCSi/acef70d12fe019228c4238aa791bdd48/quwowooybuqbl6ntboz3.jpg?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Co[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/toy_car/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:2Umc0nfJ1eKoQIEmCw0Kyg
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2015 15:25:53 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/toy_car/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b26[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/whiskers
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Normann Whisk Beaters"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"whiskers.jpg","upload":"https://images.contentful.com/liicpxzmg1q0/10TkaLheGeQG6qQGqWYqUI/d510dde5e575d40288cf75b42383aa53/ryugj83mqwa1asojwtwb.jpg?h=250&"}}}}'
    headers:
      Authorization:
      - Bearer foobar[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/whiskers/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:5FnDgviRQQO4UcSaCyYsQU
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2015 15:25:56 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/assets/whiskers/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ee[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries/playsam
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Playsam, Inc"},"website":{"en-US":"http://www.playsam.com"},"logo":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"playsam_image"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - brand
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"0334ba403984b23fc927f690b21874a6"'
      X-Contentful-Request-Id:
      - content-api:5cRkU5chMQ8OYq4uuSI0w0
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Playsam, Inc"
            },
            "website": {
              "en-US": "[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries/normann
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Normann Copenhagen, Inc"},"website":{"en-US":"http://www.normann-copenhagen.com/"},"logo":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"normann_image"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Ty[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries/toys
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Toys"},"description":{"en-US":"Toys for
        children"},"icon":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"toy_image"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - category
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a9a2edde60f4c87dd8145781e17eac71"'
      X-Contentful-Request-Id:
      - c[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries/kitchen
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"House and Kitchen"},"description":{"en-US":"House
        and Kitchen accessories"},"icon":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"kitchen_image"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries/playsam_car
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Playsam Streamliner Classic Car, Espresso"},"description":{"en-US":"A
        classic Playsam design, the Streamliner Classic Car has been selected as Swedish
        Design Classic by the Swedish National Museum for its inventive style and
        sleek surface. It''s no wonder that this wooden car has also been a long-standing
        favorite for children both big and small!"},"image":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"toy_car"}}},"brand":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"playsam"}}},"category":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"toys"}}},"url":{"en-US":"http://www.amazon.com/dp/B001R6JUZ2/"}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - product
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"37e5092a472908067662d66153[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries/whisk_beater
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Whisk Beater"},"description":{"en-US":"A
        creative little whisk that comes in 8 different colors. Handy and easy to
        clean after use. A great gift idea."},"image":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"whiskers"}}},"brand":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"normann"}}}[...]
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries?content_type=brand
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d5db7aeb74e9573f9b8a74675926d558"'
      X-Contentful-Request-Id:
      - content-api:4BDLJ1KTDGGuGCWCcAYsQA
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "name": {
                  "en-US": "Playsam, Inc"
                },
                "website": {
                  "en-US": "http://www.playsam.com"
                },
                "logo": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "playsam_image"
                    }
                  }
                }
 [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries/playsam/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b8[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries/normann/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"24[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries?content_type=category
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5833bd41a823a018299d38b99faf2136"'
   [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries/toys/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"289d3[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries/kitchen/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c1[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries?content_type=product
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9cb926ea583f9eacce3f64fbd9305b39"'
    [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries/playsam_car/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/entries/whisk_beater/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/x4aalb1l82h7/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v2.0.2''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful[...]
