---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"gallery_space","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2c327edf6c4752482ca04fb0e3239758"'
      Location:
      - https://api.contentful.com/spaces/dtylzsihhqsu
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - ca0267d5d816b4fde38f5e6766075eb4
      X-Iinfo:
      - 7-177327337-177327377 NNNN CT(162 160 0) RT(1469191374511 93) q(0 0 3 32)
        r(19 19) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"gallery_space",
          "sys":{
            "type":"Space",
            "id":"dtylzsihhqsu",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-07-22T12:42:55Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-07-22T12:42:55Z"
          }
        }

  recorded_at: Fri, 22 Jul 2016 12:42:57 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"2c014fd49b265333df19faf15077ad23"
      X-Contentful-Request-Id:
      - 917a37ae1cf5343e6b089923cc306864
      X-Iinfo:
      - 6-53963549-53963569 NNNN CT(141 141 0) RT(1503499169092 147) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":4,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-08-18T20:55:42Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-08-18T20:55:42Z",
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "dtylzsihhqsu"
              }
            }
          }
        }

  recorded_at: Wed, 23 Aug 2017 14:39:29 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/content_types/author
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Author","fields":[{"id":"name","name":"Name","type":"Symbol"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9e6df20a0e8b2b89c2600806c1926f61"'
      X-Contentful-Request-Id:
      - 298d1854540a9739ac9645e68ca2a47f
      X-Iinfo:
      - 0-79362382-79362392 NNNN CT(143 434 0) RT(1469191376719 96) q(0 0 5 2) r(33
        33) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Author",
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Symbol",
              "localized": false,
              "required": false,
              "disabled": false,
              "omitted": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "author",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2016-07-22T12:43:00.477Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "dtylzsihhqsu"
              }
            },
            "updatedAt": "2016-07-22T12:43:00.477Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Fri, 22 Jul 2016 12:43:00 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/content_types/author/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"753dd25d1a5660ce14ad12d52cac865c"'
      X-Contentful-Request-Id:
      - 9fab9167e714330710ae8bef61ea460b
      X-Iinfo:
      - 9-212777067-212777157 NNNN CT(162 162 0) RT(1469191380281 103) q(0 0 4 0)
        r(12 12) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
       [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/content_types/image
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Image","fields":[{"id":"title","name":"Title","type":"Symbol"},{"id":"photo","name":"Photo","type":"Link","linkType":"Asset"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/content_types/image/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/content_types/gallery
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Gallery","fields":[{"id":"title","name":"Title","type":"Symbol"},{"id":"author","name":"Author","type":"Link","linkType":"Entry"},{"id":"images","name":"Images","type":"Array","items":{"type":"Link","linkType":"Entry"}}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bb9a8b5566478d1ac1969743efeced0d"'
      X-Contentful-Request-Id:
      - 6308109dcc2741930923a2ad31195966
      X-Iinfo:
      - 7-177331180-177331216 NNNN CT[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/content_types/gallery/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+jso[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/assets/pie
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Pie in the Sky"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"pie.jpg","upload":"https://c2.staticflickr.com/6/5245/5335909339_d307a7cbcf_b.jpg"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8a50f3089a0fd0d4f23e9cfa021dbe60"'
      X-Contentful-Request-Id:
      - 896466525e4afca46b08758309a4a755
      X-Iinfo:
      [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/assets/pie/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 345ff9bc7af8dfce86f6ef104f79b9e0
      X-Iinfo:
      - 8-196038219-196038252 NNNN CT(161 159 0) RT(1469191390841 122) q(0 0 3 -1)
        r(6 6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jul 2016 12:43:11 GMT
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/assets/pie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"cf8d8475872e9c6fff5a16f3cc1b5979"'
      X-Contentful-Request-Id:
      - 6a626fd54aa1661598eed905e16d0821
      X-Iinfo:
      - 6-153691125-153691152 NNNN CT(144 144 0) RT(1469191393398 89) q(0 0 3 -1)
        r(6 6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Pie in the Sky"
            },
            "description": {
              "en-US": null
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "pie.jpg",
                "details": {
                  "image": {
                    "width": 1024,
                    "height": 683
                  },
                  "size": 266411
                },
                "url": "//images.contentful.com/dtylzsihhqsu/pie/5083842ceba1d2a583fa3815489cac4f/pie.jpg"
              }
            }
          },
          "sys": {
            "id": "pie",
            "type": "Asset",
            "createdAt": "2016-07-22T12:43:11.019Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "dtylzsihhqsu"
              }
            },
            "version": 2,
            "updatedAt": "2016-07-22T12:43:12.794Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Fri, 22 Jul 2016 12:43:14 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/assets/pie/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Eta[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/assets/flower
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"The Flower"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"flower.jpg","upload":"http://c2.staticflickr.com/4/3922/15045568809_b24591e318_b.jpg"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.managem[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/assets/flower/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - e8ad3a95da86cdea09c68bb5fe7cd441
      X-Iinfo:
      - 0-79363858-79363873 NNNN CT(140 143 0) RT(1469191396318 99) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 22 Jul 2016 12:43:17 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/assets/flower/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/entries/dave
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - author
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"7b66a89815acace6c483472d56d832c3"'
      X-Contentful-Request-Id:
      - 94cbff33f12c0ae2085d2fc8fad90fcf
      X-Iinfo:
      - 1-103917440-103917448 NNNN CT(142 145 0) RT(1469191399643 90) q(0 0 3 -1)
        r(5 5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
 [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/entries/pie_entry
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - image
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.managemen[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/entries/flower_entry
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - image
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.manage[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/entries/gallery
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - gallery
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.managemen[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/entries/pie_entry
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"A Pie in the Sky"},"photo":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"pie"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8e1d7191e3789bf6618723600bc3cc96"'
      X-Contentful-Request-Id:
      - 7c7b134070e2308788dedb[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/entries/gallery
    body:
      encoding: UTF-8
      string: '{"fields":{"images":{"en-US":[{"sys":{"type":"Link","linkType":"Entry","id":"pie_entry"}},{"sys":{"type":"Link","linkType":"Entry","id":"flower_entry"}}]},"title":{"en-US":"Photo
        Gallery"},"author":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"dave"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2c859be51448f3f75d364ba40751eae2"'
      X-Contentful-Request-Id:
      - 7b153ccee8f19e3df2852[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/entries/dave/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      E[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/entries/pie_entry/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
  [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/entries/flower_entry/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/environments/master/entries/gallery/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    [...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/dtylzsihhqsu/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v3.2.0''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c38dd4260f8e9d910934e605163415a3"'
      Location:
      - https://api.contentful.com/spaces/dtylzsihhqsu/api_keys/6GtzQKZ2wryulZdmAb60yZ
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 09fdcf2f86e896c328e3c90185aadb12
      X-Iinfo:
      - 6-153700504-153700523 NNNN CT(142 143 0) RT(1469191426889 93) q(0 0 3 -1)
        r(9 9) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"Bootstrap Token",
          "description":"Created with 'contentful_bootstrap.rb v3.2.0'",
          "accessToken":"c6357fd93f5686ac7a2695d2f9bfd971109d981b1d2321ab45792e43ec37d76f",
          "policies":[
            {
              "effect":"allow",
              "actions":"all"
            }
          ],
          "sys":{
            "type":"ApiKey",
            "id":"6GtzQKZ2wryulZdmAb60yZ",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"dtylzsihhqsu"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-07-22T12:43:47Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-07-22T12:43:47Z"
          },
          "preview_api_key":{
            "sys":{
              "type":"Link",
              "linkType":"PreviewApiKey",
              "id":"6GuVtYAO1WZlXnJJCt7LcZ"
            }
          }
        }

  recorded_at: Fri, 22 Jul 2016 12:43:48 GMT
recorded_with: VCR 2.9.3
