---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"blog","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5ff2a2eea2a7ca0d643293849f3a7295"'
      Location:
      - https://api.contentful.com/spaces/imf7gr7jg4ed
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 0b5-124655605
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"imf7gr7jg4ed",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2015-11-18T15:18:43Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2015-11-18T15:18:43Z"
          },
          "name":"blog"
        }

  recorded_at: Wed, 18 Nov 2015 15:18:44 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/imf7gr7jg4ed/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v2.0.2''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f8404c82e215f0cc39614ed00adc75b5"'
      Location:
      - https://api.contentful.com/spaces/imf7gr7jg4ed/api_keys/4y83USq9HGzofldbLvDrW0
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 0b5-124655625
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"ApiKey",
            "id":"4y83USq9HGzofldbLvDrW0",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"imf7gr7jg4ed"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2015-11-18T15:18:45Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2015-11-18T15:18:45Z"
          },
          "name":"Bootstrap Token",
          "description":"Created with 'contentful_bootstrap.rb v2.0.2'",
          "accessToken":"362afdb99e627ed0e70d71747cc905e1be3a2a85c798e57513ed6a2c0c2721f4",
          "policies":[
            {
              "effect":"allow",
              "actions":"all"
            }
          ],
          "preview_api_key":{
            "sys":{
              "type":"Link",
              "linkType":"PreviewApiKey",
              "id":"4y9pGFQBeSYI2AQQqJ84Ok"
            }
          }
        }

  recorded_at: Wed, 18 Nov 2015 15:18:45 GMT
recorded_with: VCR 2.9.3
