---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"blog_space","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 1PLOOEmTI2S1NYald2TemO
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"72393227d0b0f99d0adcbe1230a4abea"'
      Location:
      - https://api.contentful.com/spaces/xrfaz3bfkml6
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 9e1-621575638
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"xrfaz3bfkml6",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "createdAt":"2015-11-27T09:17:16Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "updatedAt":"2015-11-27T09:17:16Z"
          },
          "name":"blog_space"
        }

  recorded_at: Fri, 27 Nov 2015 09:17:20 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/content_types/author
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Author","description":null,"fields":[{"id":"name","name":"Author
        Name","type":"Symbol"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b978cb9f09a17641076cc5feb03af951"'
      X-Contentful-Request-Id:
      - content-api:6ggis53r7Uk4eU2CckIaC4
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Author",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Author Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "author",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2015-11-27T09:17:22.748Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "xrfaz3bfkml6"
              }
            },
            "updatedAt": "2015-11-27T09:17:22.748Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Fri, 27 Nov 2015 09:17:24 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/content_types/author/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"85590642c6c40e8773542f546634208c"'
      X-Contentful-Request-Id:
      - content-api:1TeFCdSYFSGyIKeOcIYKG2
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Author",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Author Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "author",
            "type": "ContentType",
            "createdAt": "2015-11-27T09:17:22.748Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "xrfaz3bfkml6"
              }
            },
            "version": 2,
            "updatedAt": "2015-11-27T09:17:26.724Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "firstPublishedAt": "2015-11-27T09:17:26.724Z",
            "publishedCounter": 1,
            "publishedAt": "2015-11-27T09:17:26.724Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "publishedVersion": 1
          }
        }
  recorded_at: Fri, 27 Nov 2015 09:17:28 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/content_types/post
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Post","description":null,"fields":[{"id":"title","name":"Post
        Title","type":"Symbol"},{"id":"content","name":"Content","type":"Text"},{"id":"author","name":"Author","type":"Link","linkType":"Entry"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentfu[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/content_types/post/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/entries/dan_brown
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - author
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"13065344e1279ea6362b517598b00cd1"'
      X-Contentful-Request-Id:
      - content-api:7G2QcoRx96gUACqWgaYUEO
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {},
          "sys": {
            "id": "dan_brown",
            "type": "Entry",
            "version": 1,
            "createdAt": "2015-11-27T09:17:33.725Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "xrfaz3bfkml6"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "author"
              }
            },
            "updatedAt": "2015-11-27T09:17:33.725Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Fri, 27 Nov 2015 09:17:35 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/entries/pablo_neruda
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - author
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/entries/inferno
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - post
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
 [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/entries/alturas
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - post
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
 [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/entries/dan_brown
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Dan Brown"}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a4078d7618cfc3c1c5629e03b25c7566"'
      X-Contentful-Request-Id:
      - content-api:41SjueXkoMQMaKKUIo0sCC
    body:
      encoding: UTF-8
      [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/entries/inferno
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Inferno"},"content":{"en-US":"Inferno
        is the last book in Dan Brown''s collection..."},"author":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"dan_brown"}}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ec11d7491c913b43fc9a1263744f6baf"'
      X-Contentful-Request-Id:
      - content-api:6eGT[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/entries/dan_brown/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/entries/pablo_neruda/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      -[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/entries/inferno/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"7c[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/entries/alturas/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"34[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/xrfaz3bfkml6/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v2.0.2''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful[...]
