---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/zred3m25k5em
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"56404e690e6b747ae9040984175e4dcf"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 0b5-124665217
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"zred3m25k5em",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2015-11-18T15:24:35Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2015-11-18T15:24:35Z"
          },
          "name":"blog_space"
        }

  recorded_at: Wed, 18 Nov 2015 15:34:49 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/zred3m25k5em/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"387198c35ab64967986cc9172368effb"'
      X-Contentful-Request-Id:
      - content-api:2EQAGg103aSAAiick8EwCu
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "title",
              "name": "Post",
              "description": null,
              "fields": [
                {
                  "id": "title",
                  "name": "Post Title",
                  "type": "Symbol",
                  "localized": false,
                  "validations": []
                },
                {
                  "id": "content",
                  "name": "Content",
                  "type": "Text",
                  "localized": false,
                  "validations": []
                },
                {
                  "id": "author",
                  "name": "Author",
                  "type": "Link",
                  "linkType": "Entry",
                  "localized": false,
                  "validations": []
                }
              ],
              "sys": {
                "id": "post",
                "type": "ContentType",
                "createdAt": "2015-11-18T15:24:40.401Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "zred3m25k5em"
                  }
                },
                "firstPublishedAt": "2015-11-18T15:24:41.217Z",
                "publishedCounter": 1,
                "publishedAt": "2015-11-18T15:24:41.217Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedVersion": 1,
                "version": 2,
                "updatedAt": "2015-11-18T15:24:41.241Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                }
              }
            },
            {
              "displayField": "name",
              "name": "Author",
              "description": null,
              "fields": [
          [...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/zred3m25k5em/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"foo","description":"Created with ''contentful_bootstrap.rb
        v2.0.2''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3fba19f57c03dadb077012fcc155d4a6"'
      Location:
      - https://api.contentful.com/spaces/zred3m25k5em/api_keys/6tOSB3eQMWp8G3f3uuhKJr
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 9e1-615657197
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"ApiKey",
            "id":"6tOSB3eQMWp8G3f3uuhKJr",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"zred3m25k5em"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2015-11-18T15:34:51Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2015-11-18T15:34:51Z"
          },
          "name":"foo",
          "description":"Created with 'contentful_bootstrap.rb v2.0.2'",
          "accessToken":"a9e9179c91c944ef8607f468d53a59ab546b3fd9a303c214a2081dd525f9a1fb",
          "policies":[
            {
              "effect":"allow",
              "actions":"all"
            }
          ],
          "preview_api_key":{
            "sys":{
              "type":"Link",
              "linkType":"PreviewApiKey",
              "id":"6tPYRIwJXP9I2KY0fQKgP7"
            }
          }
        }

  recorded_at: Wed, 18 Nov 2015 15:34:51 GMT
recorded_with: VCR 2.9.3
