---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"issue_22","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f4fc7884a50f2e24116f49f2cbc11e22"'
      Location:
      - https://api.contentful.com/spaces/wbtalxpseprz
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - b89-1468408633
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"wbtalxpseprz",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2015-11-18T12:20:57Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2015-11-18T12:20:57Z"
          },
          "name":"issue_22"
        }

  recorded_at: Wed, 18 Nov 2015 12:20:57 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/content_types/1VX60jHERm6yuem8I2agWG
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"yolo","description":null,"fields":[{"id":"title","name":"title","type":"Symbol"},{"id":"assets","name":"assets","type":"Array","items":{"type":"Link","linkType":"Asset"}}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e8a357ce998307b38e426765b46a2a2b"'
      X-Contentful-Request-Id:
      - content-api:19f8RrtM8OkSiSmeAocO2g
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "title",
          "name": "yolo",
          "description": null,
          "fields": [
            {
              "id": "title",
              "name": "title",
              "type": "Symbol",
              "localized": false,
              "validations": []
            },
            {
              "id": "assets",
              "name": "assets",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Asset"
              },
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "1VX60jHERm6yuem8I2agWG",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2015-11-18T12:20:59.205Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "wbtalxpseprz"
              }
            },
            "updatedAt": "2015-11-18T12:20:59.206Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Wed, 18 Nov 2015 12:20:59 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/content_types/1VX60jHERm6yuem8I2agWG/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b57191984ce3ba2558afa0f684557c65"'
      X-Contentful-Request-Id:
      - content-api:3sBXBSwPCMyqo4McQaK2Ca
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "title",
          "name": "yolo",
          "description": null,
          "fields": [
            {
              "id": "titl[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/2cMU9UUngYMqAEmw4Cm8Iw
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Screen Shot 2015-11-18 at 11.42.12"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"Screen
        Shot 2015-11-18 at 11.42.12.jpg","upload":"https://images.contentful.com/o2n5bdfcee61/2cMU9UUngYMqAEmw4Cm8Iw/466d36d31bb59d487115b7be995438e1/Screen_Shot_2015-11-18_at_11.42.12.png"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"0cb47fefce1f00a632226404960a648a"'
      X-Contentful[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/2cMU9UUngYMqAEmw4Cm8Iw/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:2ESKF84OSoGqKYK6O0US0c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2015 12:21:02 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/2cMU9UUngYMqAEmw4Cm8Iw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e07806405f2fd5238390c11aa700c030"'
      X-Contentful-Request-Id:
      - content-api:1g5Dig9q3C02YQcg4W2eKK
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Screen Shot 2015-11-18 at 11.42.12"
            },
            "description": {
              "en-US": null
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "Screen Shot 2015-11-18 at 11.42.12.jpg",
                "details": {
                  "image": {
                    "width": 924,
                    "height": 348
                  },
                  "size": 26898
                },
                "url": "//images.contentful.com/wbtalxpseprz/2cMU9UUngYMqAEmw4Cm8Iw/4bb979950d59edeed3c09c172bfdfa63/Screen_Shot_2015-11-18_at_11.42.12.jpg"
              }
            }
          },
          "sys": {
            "id": "2cMU9UUngYMqAEmw4Cm8Iw",
            "type": "Asset",
            "createdAt": "2015-11-18T12:21:01.356Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "wbtalxpseprz"
              }
            },
            "version": 2,
            "updatedAt": "2015-11-18T12:21:02.759Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Wed, 18 Nov 2015 12:21:03 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/2cMU9UUngYMqAEmw4Cm8Iw/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/4D5sv49qaAoMIkWgAW8g0I
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Screen Shot 2015-11-16 at 21.37.19"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"Screen
        Shot 2015-11-16 at 21.37.19.jpg","upload":"https://images.contentful.com/o2n5bdfcee61/4D5sv49qaAoMIkWgAW8g0I/b61adc1bc26a74ac9b65e19365747cf9/Screen_Shot_2015-11-16_at_21.37.[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/4D5sv49qaAoMIkWgAW8g0I/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:4WCAYOc0nCKMQ24G0GKgO2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2015 12:21:06 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/4D5sv49qaAoMIkWgAW8g0I/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/4eX9aQsDdeqweg6Si00KaW
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Screen Shot 2015-11-17 at 17.57.00"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"Screen
        Shot 2015-11-17 at 17.57.00.jpg","upload":"https://images.contentful.com/o2n5bdfcee61/4eX9aQsDdeqweg6Si00KaW/16646165346d59974fbfd4e0223ea89e/Screen_Shot_2015-11-17_at_17.57.[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/4eX9aQsDdeqweg6Si00KaW/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:1ZUwX1xFaI6cK6wIQIEMS2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2015 12:21:10 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/4eX9aQsDdeqweg6Si00KaW/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/7i1Ck3BG4o4KeIEUGosEeU
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Screen Shot 2015-11-17 at 18.04.02"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"Screen
        Shot 2015-11-17 at 18.04.02.jpg","upload":"https://images.contentful.com/o2n5bdfcee61/7i1Ck3BG4o4KeIEUGosEeU/4db1a207ec69f99f0d795c48a59cbcd1/Screen_Shot_2015-11-17_at_18.04.[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/7i1Ck3BG4o4KeIEUGosEeU/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:6oUz5t92tUqK6OWG8sgu2u
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Nov 2015 12:21:13 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/assets/7i1Ck3BG4o4KeIEUGosEeU/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wbtalxpseprz/entries/5nQB3z8RgW8CUG6uGyCsEw
    body:
      encoding: UTF-8
      string: '{"fields":{"assets":{"en-US":[{"sys":{"type":"Link","linkType":"Asset","id":"4eX9aQsDdeqweg6Si00KaW"}},{"sys":{"type":"Link","linkType":"Asset","id":"4D5sv49qaAoMIkWgAW8g0I"}}]},"title":{"en-US":"yolo"}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 1VX60jHERm6yuem8I2agWG
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6d7ec481beda38c7bfc32570c63e9db0"'
      X-Contentful-Request-Id:
      - content-api:jaQkvgGwCWCMUKsykaqUI
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "assets": {
              "en-US": [
                {
                  "sys": {
              [...]
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/wbtalxpseprz/entries?content_type=1VX60jHERm6yuem8I2agWG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"29f2c21be26360c424f617d8592cf6f9"'
      X-Contentful-Request-Id:
      - content-api:6uMOvUaWm4wAY882giAASk
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Wed, 18 Nov 2015 12:21:18 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/wbtalxpseprz/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v2.0.1''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful[...]
