---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"issue_22","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 1PLOOEmTI2S1NYald2TemO
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b400259b3e539ea3d2fff426cc3b3be2"'
      Location:
      - https://api.contentful.com/spaces/8rbh6yfkme6s
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 9e1-618763834
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"8rbh6yfkme6s",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "createdAt":"2015-11-23T10:09:57Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "updatedAt":"2015-11-23T10:09:57Z"
          },
          "name":"issue_22"
        }

  recorded_at: Mon, 23 Nov 2015 10:09:59 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"2c014fd49b265333df19faf15077ad23"
      X-Contentful-Request-Id:
      - 917a37ae1cf5343e6b089923cc306864
      X-Iinfo:
      - 6-53963549-53963569 NNNN CT(141 141 0) RT(1503499169092 147) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":4,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-08-18T20:55:42Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-08-18T20:55:42Z",
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "8rbh6yfkme6s"
              }
            }
          }
        }

  recorded_at: Wed, 23 Aug 2017 14:39:29 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/content_types/1VX60jHERm6yuem8I2agWG
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"yolo","description":null,"fields":[{"id":"title","name":"title","type":"Symbol"},{"id":"assets","name":"assets","type":"Array","items":{"type":"Link","linkType":"Asset"}}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"81e8635fbe7283d5f4bf2af63cb87be5"'
      X-Contentful-Request-Id:
      - content-api:3CqpjytXluOwOcwkU0oCUi
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "title",
          "name": "yolo",
          "description": null,
          "fields": [
            {
              "id": "title",
              "name": "title",
              "type": "Symbol",
              "localized": false,
              "validations": []
            },
            {
              "id": "assets",
              "name": "assets",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Asset"
              },
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "1VX60jHERm6yuem8I2agWG",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2015-11-23T10:10:04.310Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "8rbh6yfkme6s"
              }
            },
            "updatedAt": "2015-11-23T10:10:04.310Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Mon, 23 Nov 2015 10:10:03 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/content_types/1VX60jHERm6yuem8I2agWG/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"eb776563a19da9302c3ab724971db63b"'
      X-Contentful-Request-Id:
      - content-api:585JB17hy0SkMsmiQAq66O
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "title",
          "name": "yolo",
          "description": null,
          "fields": [
            {
              "id": "titl[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/2cMU9UUngYMqAEmw4Cm8Iw
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Screen Shot 2015-11-18 at 11.42.12"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"Screen
        Shot 2015-11-18 at 11.42.12.jpg","upload":"https://images.contentful.com/o2n5bdfcee61/2cMU9UUngYMqAEmw4Cm8Iw/466d36d31bb59d487115b7be995438e1/Screen_Shot_2015-11-18_at_11.42.12.png"}}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"987dfc426127013fa8b72c978eb42bb1"'
      X-Contentful[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/2cMU9UUngYMqAEmw4Cm8Iw/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:3q2P6UGYekEya2mmCSKko2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 23 Nov 2015 10:10:11 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/2cMU9UUngYMqAEmw4Cm8Iw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"89f9057f37ea7bd0bc77db7a03d22b32"'
      X-Contentful-Request-Id:
      - content-api:3JQ6kbp7BC2yGUiSWA4EWo
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Screen Shot 2015-11-18 at 11.42.12"
            },
            "description": {
              "en-US": null
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "Screen Shot 2015-11-18 at 11.42.12.jpg",
                "details": {
                  "image": {
                    "width": 924,
                    "height": 348
                  },
                  "size": 26898
                },
                "url": "//images.contentful.com/8rbh6yfkme6s/2cMU9UUngYMqAEmw4Cm8Iw/5a7c40665159f117a7e168cbffdb337f/Screen_Shot_2015-11-18_at_11.42.12.jpg"
              }
            }
          },
          "sys": {
            "id": "2cMU9UUngYMqAEmw4Cm8Iw",
            "type": "Asset",
            "createdAt": "2015-11-23T10:10:09.197Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "8rbh6yfkme6s"
              }
            },
            "version": 2,
            "updatedAt": "2015-11-23T10:10:13.405Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Mon, 23 Nov 2015 10:10:12 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/2cMU9UUngYMqAEmw4Cm8Iw/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.managemen[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/4D5sv49qaAoMIkWgAW8g0I
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Screen Shot 2015-11-16 at 21.37.19"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"Screen
        Shot 2015-11-16 at 21.37.19.jpg","upload":"https://images.contentful.com/o2n5bdfcee61/4D5sv49qaAoMIkWgAW8g0I/b61adc1bc26a74ac9b65e19365747cf9/Screen_Shot_[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/4D5sv49qaAoMIkWgAW8g0I/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:31uKewjlF6CwM8UOKegEyI
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 23 Nov 2015 10:10:14 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/4D5sv49qaAoMIkWgAW8g0I/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.managemen[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/4eX9aQsDdeqweg6Si00KaW
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Screen Shot 2015-11-17 at 17.57.00"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"Screen
        Shot 2015-11-17 at 17.57.00.jpg","upload":"https://images.contentful.com/o2n5bdfcee61/4eX9aQsDdeqweg6Si00KaW/16646165346d59974fbfd4e0223ea89e/Screen_Shot_[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/4eX9aQsDdeqweg6Si00KaW/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:1pteq4LQOswkiomY26WMOi
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 23 Nov 2015 10:10:17 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/4eX9aQsDdeqweg6Si00KaW/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.managemen[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/7i1Ck3BG4o4KeIEUGosEeU
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Screen Shot 2015-11-17 at 18.04.02"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"Screen
        Shot 2015-11-17 at 18.04.02.jpg","upload":"https://images.contentful.com/o2n5bdfcee61/7i1Ck3BG4o4KeIEUGosEeU/4db1a207ec69f99f0d795c48a59cbcd1/Screen_Shot_[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/7i1Ck3BG4o4KeIEUGosEeU/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - content-api:vfXKReF7xI0oO2coGOME8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 23 Nov 2015 10:10:20 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/assets/7i1Ck3BG4o4KeIEUGosEeU/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.managemen[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/entries/5nQB3z8RgW8CUG6uGyCsEw
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 1VX60jHERm6yuem8I2agWG
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"07635fdd57792ffbcee758d5f7e4aa4a"'
      X-Contentful-Request-Id:
      - content-api:4uATW5p6Pe8AuOqOEWa22M
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {},
          "sys": {
            "id": "5nQB3z8RgW8CUG6uGyCsEw",
            "type": "Entry",
            "version": 1,
            "createdAt": "2015-11-23T10:10:24.528Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "8rbh6yfkme6s"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "1VX60jHERm6yuem8I2agWG"
              }
            },
            "updatedAt": "2015-11-23T10:10:24.528Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Mon, 23 Nov 2015 10:10:23 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/entries/5nQB3z8RgW8CUG6uGyCsEw
    body:
      encoding: UTF-8
      string: '{"fields":{"assets":{"en-US":[{"sys":{"type":"Link","linkType":"Asset","id":"4eX9aQsDdeqweg6Si00KaW"}},{"sys":{"type":"Link","linkType":"Asset","id":"4D5sv49qaAoMIkWgAW8g0I"}}]},"title":{"en-US":"yolo"}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/environments/master/entries/5nQB3z8RgW8CUG6uGyCsEw/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.manageme[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/8rbh6yfkme6s/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v2.0.2''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful[...]
