---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"foo","defaultLocale":"en-US"}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; integration bootstrap/3.7.0; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foo
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 5d3cb1a9281d9d3bb95293024d459af3
      X-Iinfo:
      - 3-3465080-3465084 NNNN CT(100 92 0) RT(1510134197914 31) q(0 0 2 -1) r(3 3)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"5d3cb1a9281d9d3bb95293024d459af3","message":"This User
        has multiple Organizations with permissions to create a Space. Please pass
        the X-Contentful-Organization header in which Organization to create the Space.","sys":{"type":"Error","id":"MissingOrganizationParameter"}}

'
  recorded_at: Wed, 08 Nov 2017 09:43:18 GMT
- request:
    method: get
    uri: https://api.contentful.com//organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; integration bootstrap/3.7.0; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foo
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"44c5cb3db8991a0968f988a1ba73470a"
      X-Contentful-Request-Id:
      - fe4ada72e4e21d4ce196ea177cc538fb
      X-Iinfo:
      - 3-3465136-3465142 NNNN CT(95 91 0) RT(1510134198306 34) q(0 0 2 -1) r(3 3)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"total":9,"limit":25,"skip":0,"sys":{"type":"Array"},"items":[
        {"name":"foo1","sys":{"type":"Organization","id":"foo1","version":55,"createdAt":"2013-05-06T07:53:34Z","updatedAt":"2017-06-30T11:57:20Z"}},
        {"name":"foo2","sys":{"type":"Organization","id":"foo2","version":22,"createdAt":"2015-01-07T16:26:56Z","updatedAt":"2016-06-28T08:58:37Z"}},
        {"name":"foo3","sys":{"type":"Organization","id":"foo3","version":14,"createdAt":"2015-09-17T23:13:27Z","updatedAt":"2016-06-28T08:58:39Z"}},
        {"name":"foo4","sys":{"type":"Organization","id":"foo4","version":5,"createdAt":"2015-12-15T13:09:13Z","updatedAt":"2017-11-01T12:12:05Z"}},
        {"name":"foo5","sys":{"type":"Organization","id":"foo5","version":0,"createdAt":"2016-03-11T18:00:48Z","updatedAt":"2016-03-11T18:00:48Z"}},
        {"name":"foo6","sys":{"type":"Organization","id":"foo6","version":1,"createdAt":"2017-01-09T09:20:00Z","updatedAt":"2017-01-09T10:21:02Z"}},
        {"name":"foo7","sys":{"type":"Organization","id":"foo7","version":0,"createdAt":"2017-04-19T08:59:40Z","updatedAt":"2017-04-19T08:59:40Z"}},
        {"name":"foo8","sys":{"type":"Organization","id":"foo8","version":1,"createdAt":"2017-08-08T12:53:09Z","updatedAt":"2017-08-28T11:33:05Z"}},
        {"name":"foo9","sys":{"type":"Organization","id":"foo9","version":0,"createdAt":"2017-11-01T12:11:30Z","updatedAt":"2017-11-01T12:11:30Z"}}]}'
  recorded_at: Wed, 08 Nov 2017 09:43:19 GMT
recorded_with: VCR 2.9.3
