---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"no_ids_space","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 1PLOOEmTI2S1NYald2TemO
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d35e54cc518b3e78c8d5ef343960fca1"'
      Location:
      - https://api.contentful.com/spaces/fbrhs5tvrf52
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 0b5-149627625
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"fbrhs5tvrf52",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "createdAt":"2015-12-21T09:54:18Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "updatedAt":"2015-12-21T09:54:18Z"
          },
          "name":"no_ids_space"
        }

  recorded_at: Mon, 21 Dec 2015 09:54:21 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/fbrhs5tvrf52/environments/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"2c014fd49b265333df19faf15077ad23"
      X-Contentful-Request-Id:
      - 917a37ae1cf5343e6b089923cc306864
      X-Iinfo:
      - 6-53963549-53963569 NNNN CT(141 141 0) RT(1503499169092 147) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":4,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-08-18T20:55:42Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-08-18T20:55:42Z",
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "fbrhs5tvrf52"
              }
            }
          }
        }

  recorded_at: Wed, 23 Aug 2017 14:39:29 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/fbrhs5tvrf52/environments/master/content_types/cat
    body:
      encoding: UTF-8
      string: '{"displayField":null,"name":"Cat","description":null,"fields":[{"id":"name","name":"Name","type":"Symbol"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c5a3f0b9e8f7bc55a6d375d2c24c4182"'
      X-Contentful-Request-Id:
      - content-api:1BGdsY38Hi8OIKa0UUMgkk
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": null,
          "name": "Cat",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "cat",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2015-12-21T09:54:23.964Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "fbrhs5tvrf52"
              }
            },
            "updatedAt": "2015-12-21T09:54:23.964Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Mon, 21 Dec 2015 09:54:25 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/fbrhs5tvrf52/environments/master/content_types/cat/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"fb78c3d736efc6b74546195f304caacd"'
      X-Contentful-Request-Id:
      - content-api:5J72YK5zigyUO0iYSIaYei
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": null,
          "name": "Cat",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "cat",
            "type": "ContentType",
            "createdAt": "2015-12-21T09:54:23.964Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "fbrhs5tvrf52"
              }
            },
            "version": 2,
            "updatedAt": "2015-12-21T09:54:27.539Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "firstPublishedAt": "2015-12-21T09:54:27.539Z",
            "publishedCounter": 1,
            "publishedAt": "2015-12-21T09:54:27.539Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "publishedVersion": 1
          }
        }
  recorded_at: Mon, 21 Dec 2015 09:54:29 GMT
[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/fbrhs5tvrf52/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - cat
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"60b6bc6157feb4a5b104b1258584f1a6"'
      X-Contentful-Request-Id:
      - content-api:31Pr2fzfUQIGs48aomssKC
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {},
          "sys": {
            "id": "iIRoS058jK8g0E0C0ew2C",
            "type": "Entry",
            "version": 1,
            "createdAt": "2015-12-21T09:54:29.177Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "fbrhs5tvrf52"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "cat"
              }
            },
            "updatedAt": "2015-12-21T09:54:29.177Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Mon, 21 Dec 2015 09:54:30 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/fbrhs5tvrf52/environments/master/entries/iIRoS058jK8g0E0C0ew2C
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.managemen[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/fbrhs5tvrf52/environments/master/entries/iIRoS058jK8g0E0C0ew2C/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.managemen[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/fbrhs5tvrf52/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v2.0.2''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful[...]
