---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"no_ids_space","defaultLocale":"en-US"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b1a38b74b55807c72d38df27eca478ce"'
      Location:
      - https://api.contentful.com/spaces/pla6gab6vcyi
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 0b5-130656312
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"pla6gab6vcyi",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2015-11-27T12:07:38Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2015-11-27T12:07:38Z"
          },
          "name":"no_ids_space"
        }

  recorded_at: Fri, 27 Nov 2015 12:07:40 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/pla6gab6vcyi/content_types/cat
    body:
      encoding: UTF-8
      string: '{"displayField":null,"name":"Cat","description":null,"fields":[{"id":"name","name":"Name","type":"Symbol"}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9c6d3e77ce5b283750c5171a34471ba6"'
      X-Contentful-Request-Id:
      - content-api:2Pd4rLWS7CuSgCqUKO8S0a
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": null,
          "name": "Cat",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "cat",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2015-11-27T12:07:42.028Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "pla6gab6vcyi"
              }
            },
            "updatedAt": "2015-11-27T12:07:42.028Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Fri, 27 Nov 2015 12:07:42 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/pla6gab6vcyi/content_types/cat/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bf137aa7623f998107065374efa5133a"'
      X-Contentful-Request-Id:
      - content-api:1bdPLWEI9gqu6CA8U6KY8S
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": null,
          "name": "Cat",
          "description": null,
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "cat",
            "type": "ContentType",
            "createdAt": "2015-11-27T12:07:42.028Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "pla6gab6vcyi"
              }
            },
            "version": 2,
            "updatedAt": "2015-11-27T12:07:43.186Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "firstPublishedAt": "2015-11-27T12:07:43.186Z",
            "publishedCounter": 1,
            "publishedAt": "2015-11-27T12:07:43.186Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 1
          }
        }
  recorded_at: Fri, 27 Nov 2015 12:07:43 GMT
[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/pla6gab6vcyi/entries/
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Nyan Cat"}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - cat
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2cfdce8255537ca356b6c064e5c1ac07"'
      X-Contentful-Request-Id:
      - content-api:2qwLcjujpa6mus2UKAQwUq
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Nyan Cat"
            }
          },
          "sys": {
            "id": "1FMnWeKEzm244yGAs0aSAu",
            "type": "Entry",
            "version": 1,
            "createdAt": "2015-11-27T12:07:46.029Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "pla6gab6vcyi"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "cat"
              }
            },
            "updatedAt": "2015-11-27T12:07:46.029Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Fri, 27 Nov 2015 12:07:46 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/pla6gab6vcyi/entries/1FMnWeKEzm244yGAs0aSAu
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Nyan Cat"}}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.m[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/pla6gab6vcyi/entries?content_type=cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"29f2c21be26360c424f617d8592cf6f9"'
      X-Contentful-Request-Id:
      - content-api:5tWoSacJDaG8ouai88C4GM
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Fri, 27 Nov 2015 12:07:48 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/pla6gab6vcyi/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v2.0.2''"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful[...]
