---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"B.rb - locale creation","defaultLocale":"es-AR"}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - foobar
      Organization-Id:
      - foobar
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"2c014fd49b265333df19faf15077ad23"
      Location:
      - https://api.contentful.com/spaces/vsy1ouf6jdcq
      X-Contentful-Request-Id:
      - 6ed755429ebc60ce88f6dae149c91e70
      X-Iinfo:
      - 3-10646-10714 NNNN CT(133 278 0) RT(1503089740083 989) q(0 0 4 0) r(12 12)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"B.rb - locale creation",
          "sys":{
            "type":"Space",
            "id":"vsy1ouf6jdcq",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-08-18T20:55:42Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-08-18T20:55:42Z"
          }
        }

  recorded_at: Fri, 18 Aug 2017 20:55:43 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/vsy1ouf6jdcq/api_keys
    body:
      encoding: UTF-8
      string: '{"name":"Bootstrap Token","description":"Created with ''contentful_bootstrap.rb
        v3.6.1''"}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"3aad4192d4debd78179475f2a4bb2d34"
      Location:
      - https://api.contentful.com/spaces/vsy1ouf6jdcq/api_keys/460WVnYhNwH7k6rYtzT7Su
      X-Contentful-Request-Id:
      - 5f498a4eee6b5845d325f5f2f3021955
      X-Iinfo:
      - 6-14411-14459 NNNN CT(0 0 0) RT(1503089742639 366) q(0 0 0 0) r(2 2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Bootstrap Token",
          "description":"Created with 'contentful_bootstrap.rb v3.6.1'",
          "accessToken":"90e1b4964c3631cc9c751c42339814635623b001a53aec5aad23377299445433",
          "policies":[
            {
              "effect":"allow",
              "actions":"all"
            }
          ],
          "sys":{
            "type":"ApiKey",
            "id":"460WVnYhNwH7k6rYtzT7Su",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"vsy1ouf6jdcq"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-08-18T20:55:44Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-08-18T20:55:44Z"
          },
          "preview_api_key":{
            "sys":{
              "type":"Link",
              "linkType":"PreviewApiKey",
              "id":"461BbVqb2UTfZ0ozLlhO0S"
            }
          }
        }

  recorded_at: Fri, 18 Aug 2017 20:55:44 GMT
recorded_with: VCR 2.9.3
