---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/9utsm1g0t7f5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.0.1; app bootstrap/3.10.0; platform ruby/2.5.1;
        os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"d0c00e9b18f3244eb6155cc4d08e5caa"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35991'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - e45bfcdcfbec0168d25e1517051d1a8a
      X-Iinfo:
      - 3-44480187-44480193 NNNN CT(90 90 0) RT(1524051999795 40) q(0 0 2 -1) r(3
        3) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"bootstrap.rb - #68",
          "sys":{
            "type":"Space",
            "id":"9utsm1g0t7f5",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2018-04-18T11:29:03Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2018-04-18T11:29:03Z"
          }
        }

  recorded_at: Wed, 18 Apr 2018 11:46:40 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/9utsm1g0t7f5/environments/staging
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.0.1; app bootstrap/3.10.0; platform ruby/2.5.1;
        os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"66d11b8d14d152a4e577ac5883be56f9"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35990'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Request-Id:
      - 475f637308165deb8dbb8481d03dcf20
      X-Iinfo:
      - 7-17130450-17130452 NNNN CT(86 87 0) RT(1524052000287 51) q(0 0 2 -1) r(3
        3) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"staging",
          "sys":{
            "type":"Environment",
            "id":"staging",
            "version":6,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"9utsm1g0t7f5"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2018-04-18T11:30:04Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2018-04-18T11:30:05Z"
          }
        }

  recorded_at: Wed, 18 Apr 2018 11:46:40 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/9utsm1g0t7f5/environments/staging/content_types/foo
    body:
      encoding: UTF-8
      string: '{"name":"Foo","displayField":"name","fields":[{"id":"name","name":"Name","type":"Symbol"},{"id":"content","name":"Content","type":"Text"}]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.0.1; app bootstrap/3.10.0; platform ruby/2.5.1;
        os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35989'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 23cc66995cd080a55f1b3b6fe24f25e5
      X-Iinfo:
      - 7-17130481-17130488 NNNN CT(86 88 0) RT(1524052000841 51) q(0 0 2 -1) r(9
        9) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "VersionMismatch"
          },
          "requestId": "23cc66995cd080a55f1b3b6fe24f25e5"
        }
  recorded_at: Wed, 18 Apr 2018 11:46:41 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/9utsm1g0t7f5/environments/staging/entries/6yVdruR4GsKO2iKOqQS2CS
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.0.1; app bootstrap/3.10.0; platform ruby/2.5.1;
        os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - foo
      Content-Type-Id:
      - foo
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35987'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Request-Id:
      - 1f744da4b3ccabdb9c25ff69b51893e3
      X-Iinfo:
      - 10-163758478-163758498 NNNN CT(86 87 0) RT(1524052002242 39) q(0 0 2 -1) r(8
        8) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "VersionMismatch"
          },
          "requestId": "1f744da4b3ccabdb9c25ff69b51893e3"
        }
  recorded_at: Wed, 18 Apr 2018 11:46:43 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/9utsm1g0t7f5/environments/staging/entries/foo_update
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.0.1; app bootstrap/3.10.0; platform ruby/2.5.1;
        os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
     [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/9utsm1g0t7f5/environments/staging/entries/foo_update
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.0.1; app bootstrap/3.10.0; platform ruby/2.5.1;
        os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2d061e10a3a3581ab3cc6404fe231b73"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35985'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 7a99ef68a5731d1a4845bf59c23317af
      X-Iinfo:
      - 9-88520824-88520831 NNNN CT(88 87 0) RT(1524052003593 44) q(0 0 2 -1) r(11
        11) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "9utsm1g0t7f5"
              }
            },
            "id": "foo_update",
            "type": "Entry",
            "createdAt": "2018-04-18T11:46:43.600Z",
            "updatedAt": "2018-04-18T11:46:44.635Z",
            "environment": {
              "sys": {
                "id": "staging",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "version": 2,
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "foo"
              }
            }
          },
          "fields": {}
        }
  recorded_at: Wed, 18 Apr 2018 11:46:44 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/9utsm1g0t7f5/environments/staging/entries/6yVdruR4GsKO2iKOqQS2CS
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Test"},"content":{"en-US":"Some content"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.0.1; app bootstrap/3.10.0; platform ruby/2.5.1;
        os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '7'
      Version:
      - '7'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.ma[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/9utsm1g0t7f5/environments/staging/entries/6yVdruR4GsKO2iKOqQS2CS/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.0.1; app bootstrap/3.10.0; platform ruby/2.5.1;
        os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version[...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/9utsm1g0t7f5/environments/staging/entries/foo_update/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.0.1; app bootstrap/3.10.0; platform ruby/2.5.1;
        os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4[...]
