---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/f3abi4dqvrhg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; app bootstrap/3.8.0; platform ruby/2.4.1;
        os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"5656f8cf82315171b32e2fb5a19040d6"
      X-Contentful-Request-Id:
      - 5d8ae31b9bdff9ac7b7bc75aa616244a
      X-Iinfo:
      - 14-26961933-26961936 NNNN CT(0 0 0) RT(1510319172102 43) q(0 0 0 -1) r(2 2)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Test Preview - Bootstrap","sys":{"type":"Space","id":"f3abi4dqvrhg","version":1,"createdBy":{"sys":{"type":"Link","linkType":"User","id":"4SejVrWT96dvL9IV4Nb7sQ"}},"createdAt":"2017-11-09T15:17:22Z","updatedBy":{"sys":{"type":"Link","linkType":"User","id":"4SejVrWT96dvL9IV4Nb7sQ"}},"updatedAt":"2017-11-09T15:17:22Z"}}

'
  recorded_at: Fri, 10 Nov 2017 13:06:12 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/f3abi4dqvrhg/environments/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/f3abi4dqvrhg/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; app bootstrap/3.8.0; platform ruby/2.4.1;
        os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1843d293fef1d3af1d3bd5abe92ce6ea"'
      X-Contentful-Request-Id:
      - 75bd43f9569bc3be27bf7a04a3ac38eb
      X-Iinfo:
      - 12-17373918-17373924 NNNN CT(0 0 0) RT(1510319172363 69) q(0 0 0 -1) r(1 1)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "f3abi4dqvrhg"
                  }
                },
                "id": "testContentType",
                "type": "ContentType",
                "createdAt": "2017-11-09T15:17:53.933Z",
                "updatedAt": "2017-11-09T15:17:54.257Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedCounter": 1,
                "version": 2,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedVersion": 1,
                "firstPublishedAt": "2017-11-09T15:17:54.257Z",
                "publishedAt": "2017-11-09T15:17:54.257Z"
              },
              "displayField": "title",
              "name": "Test Content Type",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                }
              ]
            }
          ]
        }
  recorded_at: Fri, 10 Nov 2017 13:06:13 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/f3abi4dqvrhg/environments/master/content_types/testContentType
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"Test Content Type","fields":[{"id":"title","name":"Title","type":"Symbol"}]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; app bootstrap/3.8.0; platform ruby/2.4.1;
        os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - b42106b466c393712b5db387b26098e4
      X-Iinfo:
      - 12-17373964-17373969 NNNN CT(0 0 0) RT(1510319172599 53) q(0 0 0 -1) r(2 2)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "VersionMismatch"
          },
          "requestId": "b42106b466c393712b5db387b26098e4"
        }
  recorded_at: Fri, 10 Nov 2017 13:06:13 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/f3abi4dqvrhg/environments/master/assets/3JX5vcHRhmAmaYwWq0S0wa
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Cat"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"cat","upload":"https://images.contentful.com/f3abi4dqvrhg/3JX5vcHRhmAmaYwWq0S0wa/9ba45c1084d8530702bcd0de5617c59b/cat.jpg"}}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; app bootstrap/3.8.0; platform ruby/2.4.1;
        os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 4659f446fbe3cc79270b9258a9a39b63
      X-Iinfo:
      - 8-4856746-4856747 NNNN CT(0 0 0) RT(1510319172845 42) q(0 0 0 -1) r(2 2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "VersionMismatch"
          },
          "requestId": "4659f446fbe3cc79270b9258a9a39b63"
        }
  recorded_at: Fri, 10 Nov 2017 13:06:13 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/f3abi4dqvrhg/environments/master/assets/3JX5vcHRhmAmaYwWq0S0wa
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Cat"},"description":{"en-US":null},"file":{"en-US":{"contentType":"image/jpeg","fileName":"cat","upload":"https://images.contentful.com/f3abi4dqvrhg/3JX5vcHRhmAmaYwWq0S0wa/9ba45c1084d8530702bcd0de5617c59b/cat.jpg"}}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; app bootstrap/3.8.0; platform ruby/2.4.1;
        os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '6'
      Version:
      - '6'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a194ca4d994fdc34f57904b35a231c9e"'
      X-Contentful-Request-Id:
      - bb7af5ff18abb9eb748562054511ced2
      X-Iinfo:
      - 9-7558385-7558390 NNNN CT(0 0 0) RT(1510319173327 53) q(0 0 0 -1) r(2 2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
 [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/f3abi4dqvrhg/environments/master/assets/3JX5vcHRhmAmaYwWq0S0wa/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; app bootstrap/3.8.0; platform ruby/2.4.1;
        os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '7'
      Version:
      - '7'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 813e309e5d7bfef79d1308fa1d1dc59e
      X-Iinfo:
      - 10-9867746-9867754 NNNN CT(0 0 0) RT(1510319173600 53) q(0 0 0 -1) r(2 2)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 10 Nov 2017 13:06:14 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/f3abi4dqvrhg/environments/master/entries/1uT4AXWJ1me40QsAgAeSIi
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; app bootstrap/3.8.0; platform ruby/2.4.1;
        os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - testContentType
      Content-Type-Id:
      - testContentType
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 0d6063df92d74875f92c5fcf35932e6c
      X-Iinfo:
      - 10-9867963-9867972 NNNN CT(80 80 0) RT(1510319177032 51) q(0 0 2 -1) r(9 9)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "VersionMismatch"
          },
          "requestId": "0d6063df92d74875f92c5fcf35932e6c"
        }
  recorded_at: Fri, 10 Nov 2017 13:06:18 GMT
[...]
