---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/vsy1ouf6jdcq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"2c014fd49b265333df19faf15077ad23"
      X-Contentful-Request-Id:
      - 917a37ae1cf5343e6b089923cc306864
      X-Iinfo:
      - 6-53963549-53963569 NNNN CT(141 141 0) RT(1503499169092 147) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"B.rb - locale creation",
          "sys":{
            "type":"Space",
            "id":"vsy1ouf6jdcq",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-08-18T20:55:42Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-08-18T20:55:42Z"
          }
        }

  recorded_at: Wed, 23 Aug 2017 14:39:29 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/vsy1ouf6jdcq/environments/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/vsy1ouf6jdcq/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a389358fe6074c071f0030539953ba80"'
      X-Contentful-Request-Id:
      - aba6171646156c177f6f81b93631991a
      X-Iinfo:
      - 8-76336969-76336992 NNNN CT(146 146 0) RT(1503499169841 130) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "vsy1ouf6jdcq"
                  }
                },
                "id": "test",
                "type": "ContentType",
                "createdAt": "2017-08-23T14:02:47.362Z",
                "updatedAt": "2017-08-23T14:02:48.328Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedCounter": 1,
                "version": 2,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedVersion": 1,
                "firstPublishedAt": "2017-08-23T14:02:48.328Z",
                "publishedAt": "2017-08-23T14:02:48.328Z"
              },
              "displayField": "text",
              "name": "Test",
              "description": "",
              "fields": [
                {
                  "id": "text",
                  "name": "Text",
                  "type": "Symbol",
                  "localized": true,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                }
              ]
            }
          ]
        }
  recorded_at: Wed, 23 Aug 2017 14:39:30 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/vsy1ouf6jdcq/environments/master/content_types/test
    body:
      encoding: UTF-8
      string: '{"displayField":"text","name":"Test","fields":[{"id":"text","name":"Text","type":"Symbol"}]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - d2f1665bb78ae755878831106e36a233
      X-Iinfo:
      - 5-80307738-80307758 NNNN CT(142 139 0) RT(1503499170685 102) q(0 0 3 -1) r(6
        6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "VersionMismatch"
          },
          "requestId": "d2f1665bb78ae755878831106e36a233"
        }
  recorded_at: Wed, 23 Aug 2017 14:39:31 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/vsy1ouf6jdcq/environments/master/entries/test_1
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - test
      Content-Type-Id:
      - test
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"fbb9f585a6ab6de5c98852223be1c836"'
      X-Contentful-Request-Id:
      - 02f750ac3d1ce086211ee74286302b5a
      X-Iinfo:
      - 7-63819005-63819024 NNNN CT(138 200 0) RT(1503499172376 147) q(0 0 3 -1) r(6
        6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "vsy1ouf6jdcq"
              }
            },
            "id": "test_1",
            "type": "Entry",
            "createdAt": "2017-08-23T14:39:33.138Z",
            "updatedAt": "2017-08-23T14:39:33.138Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "version": 1,
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "test"
              }
            }
          },
          "fields": {}
        }
  recorded_at: Wed, 23 Aug 2017 14:39:33 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/vsy1ouf6jdcq/environments/master/entries/test_1
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c02d216ca81f74b318b65789975b355c"'
      X-Contentful-Request-Id:
      - 64b6b0e6d6e5b7bdd810ac9dd71c5176
      X-Iinfo:
      - 7-63819131-63819151 NNNN CT(137 134 0) RT(1503499173260 136) q(0 0 3 -1) r(6
        6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
     [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/vsy1ouf6jdcq/environments/master/entries/test_1
    body:
      encoding: UTF-8
      string: '{"fields":{"text":{"es-AR":"Foo"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
      Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
  [...]
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/vsy1ouf6jdcq/environments/master/entries/test_1/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; integration bootstrap/3.6.1; platform
        ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
    [...]
[...]
